<template id="chair-modal-template">
  <button class="button" @click.prevent="openModal">Log Chair</button>
  <div class="modal" v-bind:class="{ 'is-active': showModal}">
  <div class="modal-background">
  </div>
    <div class="modal-card">
      <header class="modal-card-head">
        <h1 class="title is-3" class="modal-card-title">
          Select Chair</h1>
      </header>
      <section class="modal-card-body">
        <div class="modal-section">
          <div id="select-user">
            <p>Click to select the chair:<p>
            <ul v-for="user in usersList">
              <chair :current-meeting.sync="currentMeeting" :user="user" :chair.sync="chair" :toggle-selected-chair=":toggleSelectedChair"></chair>

            </ul>
          </div>
        </div>
      </section>
      <footer class="modal-card-foot">
        <button class="button" @click.prevent="closeModal">Close</button>
      </footer>
    </div>
</template>

<script>
  Vue.component('chair-modal', {
    template: '#chair-modal-template',
    props: ['currentMeeting', 'chair'],
    data: function(){
      return {
        showModal: false,
        toggleSelectedChair: false,

        // toggleSelectedSeconder: false,
        usersList: []
      }
    },
    methods: {
      openModal: function() {
        this.showModal = true
      },
      closeModal: function() {
        this.showModal = false
        console.log("clicking close " + this.showModal)
      }
    },
    created: function() {
      this.$http.get('/api/users').then(function(response){
        this.usersList = response.json()
      }.bind(this));
    }
  })
</script>

<template id="chair-template">
    <li class="ai-user" v-bind:class="{'user-selected': toggleSelectedChair}" @click="setChair"><i class="fa fa-person" aria-hidden="true">

      {{user.first_name}} {{user.last_name}}
    </i></li>
</template>

<script>
  Vue.component('chair', {
    template: '#chair-template',
    props: ['currentMeeting','user','chair','toggleSelectedChair'],
    methods: {
      setChair: function(){
        this.$http.post('/api/meetings/1/chair', {'chair_id': this.user.id}, {emulateJSON:true}).then(function(response){
          this.$parent.$broadcast('clearSelectedChair')
          this.chair = response.json()
          this.toggleSelectedChair = true
        }.bind(this));
      }
    },
    events: {
      clearSelectedChair: function() {
          this.toggleSelectedChair = false
        }
      }
  })
</script>
