<template id="votes-modal-template">
  <button class="button" @click.prevent="openModal">Log Votes</button>

  <div class="modal" v-bind:class="{ 'is-active': showModal}">
  <div class="modal-background">
  </div>
    <div class="modal-card">
      <header class="modal-card-head">
        <h1 class="title is-3" class="modal-card-title">
          Log Votes</h1>
      </header>
      <section class="modal-card-body">
        <div class="modal-section">
          <div class="columns">
            <div class="column">
              <div class="select-user">
                <p>Abstained Voters</p>
                <ul v-for="vote in votes | filterBy 'Abstain' in 'vote_type'">
                  <abstained-voter :agenda-item.sync="agendaItem" :user="user" :vote.sync="vote" :toggle-selected-voter="toggleSelectedVote" :abstained-votes-list.sync="abstainedVotesList"></abstained-voter>
                </ul>
              </div>
            </div>
            <div class="column">
              <button class="button" @click.prevent="moveOpposedToAbstained"><i class="fa fa-chevron-with-circle-left fa-lg"></i></button>
              <button class="button" @click.prevent="moveAbstainedToOpposed"><i class="fa fa-chevron-with-circle-right fa-lg"></i></button>
            </div>
            <div class="column">
              <div class="select-user">
                <p>Opposed Voters</p>
                <div v-if="agendaItem.votes.length === 0">
                  <ul v-for="user in usersList">
                    <users-list :agenda-item.sync="agendaItem" :user="user" :vote.sync="vote" :toggle-selected-voter="toggleSelectedVote"></users-list>
                  </ul>
                </div>
                <!-- <div v-else> -->
                  <ul v-for="vote in votes | filterBy 'Opposed' in 'vote_type'">
                    <opposed-voter :agenda-item.sync="agendaItem" :user="user" :vote.sync="vote" :toggle-selected-voter="toggleSelectedVote" :opposed-votes-list.sync="opposedVotesList"></opposed-voter>
                  </ul>
                <!-- </div> -->
              </div>
            </div>
            <div class="column">
              <button class="button" @click.prevent="moveInFavourToOpposed"><i class="fa fa-chevron-with-circle-left fa-lg"></i></button>
              <button class="button" @click.prevent="moveOpposedToInFavour"><i class="fa fa-chevron-with-circle-right fa-lg"></i></button>
            </div>
            <div class="column">
              <div class="select-user">
                <p>In Favour Voters</p>
                <ul v-for="vote in votes | filterBy 'In Favour' in 'vote_type'">
                  <in-favour-voter :agenda-item.sync="agendaItem" :user="user" :vote.sync="vote" :toggle-selected-voter="toggleSelectedVote" :in-favour-votes-list.sync="inFavourVotesList"></in-favour-voter>
                </ul>
              </div>
            </div>
          </div>
      </section>
      <footer class="modal-card-foot">
        <button class="button" @click.prevent="closeModal">Close</button>
      </footer>
    </div>
</template>

<script>
  Vue.component('votes-modal', {
    template: '#votes-modal-template',
    props: ['agendaItem','votes'],
    data: function(){
      return {
        showModal: false,
        toggleSelectedVote: false,
        usersList: [],
        abstainedVotesList: [],
        opposedVotesList: [],
        inFavourVotesList: []
      }
    },
    methods: {
      openModal: function() {
        this.showModal = true
      },
      closeModal: function() {
        this.showModal = false
      },
      moveInFavourToOpposed: function() {
        var votes = this.inFavourVotesList

        for (i = 0; i < votes.length; i++) { 
          var vote = votes[i]
          var vote_id = votes[i].id

          this.$http.post('/api/votes', {'vote': vote, 'vote_id': vote_id,'vote_type': 'Opposed'}, {emulateJSON:true}).then(function(response){
            vote = response.json()
            this.inFavourVotesList.pop(vote)
            this.opposedVotesList.push(vote)
          }.bind(this));
        }
      },
      moveOpposedToInFavour: function() {   
        var votes = this.opposedVotesList

        for (i = 0; i < votes.length; i++) { 
          var vote = votes[i]
          var vote_id = votes[i].id

          this.$http.post('/api/votes', {'vote': vote, 'vote_id': vote_id,'vote_type': 'In Favour'}, {emulateJSON:true}).then(function(response){
            vote = response.json()
          }.bind(this));
        }
      },
      moveOpposedToAbstained: function() {
        var votes = this.opposedVotesList

        for (i = 0; i < votes.length; i++) { 
          var vote = votes[i]
          var vote_id = votes[i].id

          this.$http.post('/api/votes', {'vote': vote, 'vote_id': vote_id,'vote_type': 'Abstain'}, {emulateJSON:true}).then(function(response){
            vote = response.json()
          }.bind(this));
        }   
      },
      moveAbstainedToOpposed: function() {
        var votes = this.abstainedVotesList

        for (i = 0; i < votes.length; i++) { 
          var vote = votes[i]
          var vote_id = votes[i].id

          this.$http.post('/api/votes', {'vote': vote, 'vote_id': vote_id,'vote_type': 'Opposed'}, {emulateJSON:true}).then(function(response){
            vote = response.json()
          }.bind(this));
        } 
      }
    }
    created: function() {
      this.$http.get('/api/users').then(function(response){
        console.log(response.json())
        this.usersList= response.json()
        console.log(this.usersList)
      }.bind(this));
    }
  }
});

</script>

<template id="opposed-voter-template">
    <li class="ai-user" v-bind:class="{ 'user-selected': toggleSelectedVote}" @click="selectOpposedVote">
      <i class="fa fa-person" aria-hidden="true">
        {{user.first_name}} {{vote.voting_user.first_name}} {{user.last_name}} {{vote.voting_user.last_name}}
      </i>
    </li>
</template>

<script>
  Vue.component('opposed-voter', {
    template: '#opposed-voter-template',
    props: ['agendaItem','user','vote','toggleSelectedVote','opposedVotesList'],
    methods: {
      selectOpposedVote: function(){
        if (this.opposedVotesList.includes(this.vote)) {
          this.toggleSelectedVote = false
          this.opposedVotesList.pop(this.vote)
        } else {
          this.toggleSelectedVote = true
          this.opposedVotesList.push(this.vote)
        }
      }
    }
  })
</script>

<template id="in-favour-voter-template">
    <li class="ai-user" v-bind:class="{ 'user-selected': toggleSelectedVote}" @click="selectInFavourVote">
      <i class="fa fa-person" aria-hidden="true">
        {{vote.voting_user.first_name}} {{vote.voting_user.last_name}}
      </i>
    </li>
</template>

<script>
  Vue.component('in-favour-voter', {
    template: '#in-favour-voter-template',
    props: ['agendaItem','user','vote','toggleSelectedVote','inFavourVotesList'],
    methods: {
      selectInFavourVote: function(){
        if (this.inFavourVotesList.includes(this.vote)) {
          this.toggleSelectedVote = false
          this.inFavourVotesList.pop(this.vote)
        } else {
          this.toggleSelectedVote = true
          this.inFavourVotesList.push(this.vote)
        }
      }
    }
  })
</script>

<template id="abstained-voter-template">
    <li class="ai-user" v-bind:class="{ 'user-selected': toggleSelectedVote}" @click="selectOpposedVote">
      <i class="fa fa-person" aria-hidden="true">
        {{vote.voting_user.first_name}} {{vote.voting_user.last_name}}
      </i>
    </li>
</template>

<script>
  Vue.component('abstained-voter', {
    template: '#abstained-voter-template',
    props: ['agendaItem','user','vote','toggleSelectedVote','abstainedVotesList'],
    methods: {
      selectOpposedVote: function(){
        if (this.abstainedVotesList.includes(this.vote)) {
          this.toggleSelectedVote = false
          this.abstainedVotesList.pop(this.vote)
        } else {
          this.toggleSelectedVote = true
          this.abstainedVotesList.push(this.vote)
        }
      }
    }
  })
</script>

