<template id="motion-template">
  <div class="ai-motion" v-if="agendaItem.type === 'Motion'">
    <div class="ai-responsible">
      <label class="label">Mover</label>
      <!-- <button  id="show-mover" @click="showMover = true" class="button">Select Mover</button> -->
      <!-- TODO list-users should be in a modal! -->
      <div class="ai-user"><i class="fa fa-person" aria-hidden="true">{{agendaItem.mover.first_name}}</i></div>
      <br/>
      <mover-modal :agenda-item.sync="agendaItem"></mover-modal>

      <label class="label">Seconder</label>
      <!-- The current Seconder is: {{mover.first_name}} -->
      <div class="ai-user"><i class="fa fa-person" aria-hidden="true">{{agendaItem.seconder.first_name}}</i></div>
      <br/>
      <seconder-modal :agenda-item.sync="agendaItem"></seconder-modal>
    </div>
    <votes-modal :agenda-item.sync="agendaItem"></votes-modal>
    <div class="ai-vote">
      <div v-if="agendaItem.votes.length != 0">
        <div class="message-header">
          In Favour
        </div>
        <div class="message-body">
          <div v-for="vote in agendaItem.votes | filterBy 'In Favour' in 'vote_type'">
            <div class="ai-user"><i class="fa fa-checkbox-marked-circle-outline fa-lg" aria-hidden="true">{{ vote.voting_user.first_name }}</i></div>
          </div>
        </div>
        <div class="message-header">
          Opposed
        </div>
        <div class="message-body">
          <div v-for="vote in agendaItem.votes | filterBy 'Opposed' in 'vote_type'">
              <div class="ai-user"><i class="fa fa-close-circle-outline fa-lg" aria-hidden="true">{{vote.voting_user.first_name}}</i></div>
          </div>
        </div>
        <div class="message-header">
          Abstained
        </div>
        <div class="message-body">
          <div v-for="vote in agendaItem.votes | filterBy 'Abstain' in 'vote_type'">
              <div class="ai-user"><i class="fa fa-checkbox-blank-circle-outline fa-lg" aria-hidden="true">{{vote.voting_user.first_name}}</i></div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</template>

<script>
  Vue.component('motion', {
    template: '#motion-template',
    props: ['agendaItem']
  })  
</script>
  