<div id="agenda-item-template" :agenda-item="agendaItem" :selected="selected" :options="options">

  <form @submit.prevent="postData">
    <div>
    <label>Title:</label><br>
    <textarea id="title" v-model="agendaItem.title" name="title"></textarea>
    </div>
    <div>
    <label>Description:</label><br>
    <textarea id="description" v-model="agendaItem.description"  name="description"></textarea>
    </div>
    <div>
    <label>Discussion:</label><br>
    <textarea id="discussion" v-model="agendaItem.discussion" name="discussion"></textarea>
    </div>
    <div>
    <label>Status: {{agendaItem.status}}</label><br>
    <select v-model="agendaItem.status">
      <option v-for="option in options" v-bind:value="option.value">
        {{ option.text }}
      </option>
    </select>
    <textarea id="status" v-model="agendaItem.status" name="status" style="display: none"></textarea>
    </div>

    <div>
    <label>Mover:</label>
    <textarea id="mover_id" v-model="agendaItem.mover.id" name="mover_id" style="display: none"></textarea>
    {{agendaItem.mover.first_name}}
  <div><button id="show-modal" @click="showModal = true" class="button is-primary modal-button">Change Mover</button></div> 
    </div>

  <modal :show.sync="showModal" :agenda-item.sync="agendaItem"></modal>
    
    <div>
    <label>Seconder:</label>
    <textarea id="seconder_id" v-model="agendaItem.seconder.id" name="seconder_id" style="display: none"></textarea>
    {{agendaItem.seconder.first_name}}
  <div><button id="show-modal" @click="showModal = true" class="button is-primary modal-button">Change Seconder</button></div> 
    </div> 

  <modal :show.sync="showModal" :agenda-item.sync="agendaItem"></modal>

    <button type="submit">submit</button>
  </form>
  <!-- use the modal component, pass in the prop -->
</div>

<!-- template for the modal component -->
<template id="modal-template">
  <div class="modal-mask" v-show="show" transition="modal">
    <div class="modal-wrapper">
      <div class="modal-container">

        <div class="modal-header">
          <slot name="header">
            Select a new mover:
          </slot>
        </div>
        
        <div class="modal-body">
          <slot name="body">
            <div v-for="user in userList">
              <input type="radio" id="{{user.id}}" name="mover_id"
                     v-bind:value="user"
                     v-model="agendaItem.mover"
                     v-on:change="updateMover">
              <label for="{{user.id}}">{{user.first_name}}</label>
            </div>
          </slot>
        </div>

        <div class="modal-footer">
          <slot name="footer">
            Are you sure?
            <button class="button is-primary modal-button"
              @click="show = false">
              Yes
            </button>
          </slot>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

  Vue.component('modal', {
    template: '#modal-template',
    data: function() {
      return {
        userList: [],
        isPrimary: false
      }
    },
    props: {
      agendaItem: ['agendaItem'],
      show: {
        type: Boolean,
        required: true,
        twoWay: true    
      }
    },
    created: function() {
      this.$http.get('/api/users').then(function(response){
        this.userList = response.json();
        console.log(this.userList)
      }.bind(this));
    },
    methods: {
      updateMover: function() {
        this.$parent.postData()      
      }
    }
  })

  var parent = new Vue({
    el: '#agenda-item-template',
    data: {
      agendaItem: {},
      selected: '--',
      options: [
        { text: 'passed', value: 'passed' },
        { text: 'defeated', value: 'defeated' },
        { text: 'amended', value: 'amended' },
        { text: 'active', value: 'active' },
        { text: 'carried forward', value: 'carried forward' },
        { text: 'completed', value: 'completed' }
      ],
      showModal: false
     },
    created: function() {
      this.$http.get('/api/mover/5').then(function(response){
        this.agendaItem = response.json();
      }.bind(this));
    },
    methods: {
      postData: function() {
        console.log(this)
        this.$http.post('/api/mover/' + this.agendaItem.id, {mover_id: this.agendaItem.mover.id}, {emulateJSON:true}).then(function(response) {
          console.log("agenda item updated");
        }.bind(this));
      }
    }    
  });
</script>