<div id="app">
  <div v-for="agendaItem in agendaItems">
    <agenda-item :agenda-item="agendaItem" :current-item.sync="currentItem"></agenda-item>
  </div>
</div>

<template id="agenda-item-template" >
 <form @submit.prevent="postData">
    <p>{{currentItem.id}}</p>
    <textarea id="description" v-model="currentItem.description"  name="description"></textarea>
    <textarea id="title" v-model="currentItem.title" name="title"></textarea>
    <textarea id="discussion" v-model="currentItem.discussion" name="discussion" class="mceEditor"></textarea>
    <button type="submit">submit</button>
  </form>
</template>

<script src="https://cdn.tinymce.com/4/tinymce.min.js"></script>

<script>
  Vue.component('agendaItem', {
    template: '#agenda-item-template',
    created: function() {
      this.$http.get('/api/agenda-items/' + this.currentItem.id).then(function(response){
        this.currentItem = response.json();
      }.bind(this));
    },
    ready: function() {
      this.tinyMCE();
    },
    props: ['agendaItem', 'currentItem'],
    methods: {
      postData: function() {
        console.log(this)
        this.$http.post('/api/agenda-items/' + this.agendaItem.id, this.agendaItem, {emulateJSON:true}).then(function(response) {
          console.log("agenda item updated");
        }).error(function(error) {
          console.log(error);
          console.log("erroring");
        }.bind(this));
      },
      tinyMCE: function() {
        tinymce.init({
          // General options
          mode : "specific_textareas",
          editor_selector: 'mceEditor',
          height: 200,
          width: 500, 
          plugins: [
            'advlist autolink lists link image charmap print preview anchor',
            'searchreplace visualblocks code fullscreen',
            'insertdatetime media table contextmenu paste code',
            'textcolor save'
          ],
          toolbar: 'insertfile undo redo | styleselect | bold italic forecolor | backcolor | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link | image | file | save',
          content_css: [
            '//fast.fonts.net/cssapi/e6dc9b99-64fe-4292-ad98-6974f93cd2a2.css',
            '//www.tinymce.com/css/codepen.min.css'
          ]
        });
      }
    }
  });


  new Vue({
    el: '#app',
    data: function(){
      return {
        agendaItems: [],
        currentItem: {id: 1}
      }
    },
    created: function() {
      this.$http.get('/api/agenda-items').then(function(response){
        this.agendaItems = [response.json()];
      }.bind(this));
    }
  });
</script>