<section id="board-bg-img" class="is-fullheight" style="min-height: 100vh">
	<div class="columns">

		<div class="column is-one-quarter">
		    <!-- <p class="notification is-warning">Auto</p> -->
		</div>
		<div class="column is-half">
			<form method="POST" action="/users/new">
				<div class="signup-form">
				<div class="style-element section">
				<p>Board Membership Sign Up</p>
			 	<div class="board-membership-form">
				<!-- <div class="control is-horizontal"> -->
				  <div class="control-label">
				    <!-- <label class="label">From</label> -->
				  </div>
				  <div class="control is-grouped">
				    <p class="control is-expanded has-icon">
				    	<i class="fa fa-person"></i>
				      <input class="input" type="text" name="first_name" placeholder="First Name">
				    </p>
				    <p class="control is-expanded has-icon">
				      <input class="input" type="text" name="last_name" placeholder="Last Name">
				      <i class="fa fa-person"></i>
				    </p>
				  </div>
				<!-- </div> -->

				<!-- <div class="control is-horizontal"> -->
				  <div class="control-label">
				    <!-- <label class="label">From</label> -->
				  </div>
				  <div class="control is-grouped">
				    <p class="control is-expanded has-icon">
				      <input class="input" type="text" name="board_position" placeholder="Board Position">
				      <i class="fa fa-microphone-settings"></i>
				    </p>
				    <p class="control is-expanded has-icon">
				      <input class="input" type="email" name="email" placeholder="Email">
				      <i class="fa fa-email"></i>
				    </p>
				    
				  </div>
				</div>
				  <div class="control is-grouped">
					  <p class="control">
					    <a class="button">Continue <i class="fa fa-arrow-right"></i></a>
					  </p>

					  <p class="control">
					    <button type="submit" class="button"> Add New Member</button>
					  </p>
					</div>
				
			</div>

			</div>
		</form>
	</div>

		<div class="column is-one-quarter">
		    <!-- <p class="notification is-danger">Auto</p> -->
		</div>
	</div>

</section>

<!-- this was to add new members by adding more forms
 -->
<!-- <script>
$('.button').on('click',function() {
	for (i = 0; i < 1; i++) {
    $('.board-membership-form').append('<div class="control is-grouped"> <p class="control is-expanded has-icon"> <i class="fa fa-person"></i> <input class="input" type="text" placeholder="First Name"> </p> <p class="control is-expanded has-icon"> <input class="input" type="text" placeholder="Last Name"> <i class="fa fa-person"></i> </p> </div> <div class="control is-grouped"> <p class="control is-expanded has-icon"> <input class="input" type="text" placeholder="Board Position"> <i class="fa fa-microphone-settings"></i> </p> <p class="control is-expanded has-icon"> <input class="input" type="email" placeholder="Email"> <i class="fa fa-email"></i> </p> </div>');
  }

});
</script> -->