<section class="">
	<div class="columns">
		<div class="column is-one-quarter ">
		    <!-- <p class="notification is-warning">Auto</p> -->
		</div>
		<div class="column is-half main-body">
		  <div class="board-members">
			  <div class="style-element ">
			    <p>Board Memebership Sign Up</p>
			    <label class="label">First Name</label>
			    <p class="control has-icon">
			      <input class="input" type="text" placeholder="First Name">
			      <i class="fa fa-person"></i>
			    </p>
			    <label class="label">Last Name</label>
			    <p class="control has-icon">
			      <input class="input" type="text" placeholder="Last Name">
			      	<i class="fa fa-person"></i>
			    </p>
			    <label class="label">Board Position</label>
			    <p class="control has-icon">
			     <input class="input" type="text" placeholder="Board Position">
			      <i class="fa fa-microphone-settings"></i>
			    </p>
          <label class="label">Email Address</label>
          <p class="control has-icon">
            <input class="input" type="email" placeholder="Email Address">
              <i class="fa fa-email"></i>
          </p>
			    </p>
			    <p class="control">
			      <a class="button">Continue</a>
			    </p>
			  </div>
			</div>
		</div>

		<div class="column is-one-quarter">
		    <!-- <p class="notification is-danger">Auto</p> -->
		</div>
	</div>

</section>
  		