<div class="style-element section ai-document">
  <div class="box">
    <h2 class="subtitle is-3">Document Submission</h2>
    <div class="ai-title">
      <div class="control">
        <label class="label">Title</label>
        <input class="input" type="text" placeholder="{{ @document.title }}">
      </div>
    </div>
    <div class="ai-description">
      <label class="label">Description</label>
      <div class="control">
        <textarea class="textarea" placeholder="{{ @document.description }}"></textarea>
      </div>
    </div>
    <div class="ai-responsible">
      <label class="label">Presenter(s)</label>
      <input class="input" type="text" placeholder="{{ responsible_person_user_id.user_id }}">
    </div>
    <div class="ai-upload">
      <label class="label">Upload Document</label>
      <a class="button">
        Upload
      </a>
      <p>* if uploaded
      {{ agenda_item.filename }}</p>
    </div>
    <div class="ai-minutes">
      <label class="label">Discussion</label>
      <div class="control">
        <textarea class="textarea" placeholder="{{ @document.discussion }}"></textarea>
      </div>
    </div>
  </div>
</div>
