<a href="#" onclick="return xepOnline.Formatter.Format('Usage',
            {pageWidth:'216mm', pageHeight:'279mm', render:'download'});">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e4/Print_font_awesome.svg/512px-Print_font_awesome.svg.png">
</a>