<%#
<!-- TODO move CSS to css file-->

<!-- TODO test save button post the data fo the following fancy fields -->
  <!-- document: file upload -->
  <!-- election: voters -->
  <!-- action item: due date ** not working ** should this have a time or just a date??-->
  <!-- motion: voters -->
  <!-- meeting details: attendees -->
  <!-- meeting details: date & time ** not working -->

<!-- FUTURE FEATURES: -->
  <!-- TODO create migration for adding called to order time -->
    <!-- TODO add start meeting & end meeting buttons -->
  <!-- TODO add auto-save functionality-->
%>

<style>
  .ai-agenda-list, #ai-new-agenda-item > div > li {
    cursor: pointer;
  }

  #ai-new-agenda-item > div > li {
   background: white;
   border: 1px solid;
   border-radius: 10px;
   padding: 10px 15px;
   margin: 3px;

  }

  #ai-new-agenda-item > div > li > span:first-child {
    padding-right: 15px;
    color: blue;
  }

  .modal-section {
    border: 1px solid;
    display: inline-block;
    padding: 20px;
  }
</style>

<div id="app" class="container">
  <agenda-items></agenda-items>
</div>

<%= erb(:"templates/agenda_items") %>

<script>
  new Vue({
    el: "#app"
  });
</script>

