<!-- TODO move CSS to css file-->
<!-- TODO add save button and have it post the data -->
<!-- TODO meeting details and meeting closure functionality -->
  <!-- TODO get data about an individual meeting -->
  <!-- TODO create template for meeting details -->
  <!-- TODO create template for meeting end details-->
  <!-- TODO add logic to show/hide the meeting details on clicks -->
  <!-- TODO fix date in meeting end details -->
  <!-- TODO add send prompt in end of meeting details -->

<!-- IF WE HAVE TIME: -->
  <!-- TODO create migration for adding called to order time -->
    <!-- TODO add start meeting & end meeting buttons -->
  <!-- TODO add auto-save functionality-->

<style>
  .ai-agenda-list, #ai-new-agenda-item > div > li {
    cursor: pointer;
  }

  #ai-new-agenda-item > div > li {
   background: white;
   border: 1px solid;
   border-radius: 10px;
   padding: 10px 15px;
   margin: 3px;
   
  }

  #ai-new-agenda-item > div > li > span:first-child {
    padding-right: 15px;
    color: blue;
  }
</style>

<div id="app" class="container">
  <agenda-items></agenda-items>
</div>

<template id="agenda-items-template">
  <div class="columns">
    <div class="column is-3">
      <aside class="menu">
        <p class="menu-label">Agenda Items</p>
        <ul class="ai-agenda-list">
          <!-- meeting details are not an agenda item, they belong to the meeting -->
          <li><i class="fa fa-library-books" aria-hidden="true"></i> Meeting Details</li>
          <div v-for="agendaItem in agendaItems">     
              <agenda-item-selection :agenda-item.sync="agendaItem" :current-item-index.sync="currentItemIndex"></agenda-item-selection>
          </div>
          <!-- meeting closing is not an agenda item, the data belongs to the meeting -->
          <li><i class="fa fa-library-books" aria-hidden="true"></i> Meeting Closing</li>
        </ul>
      </aside>
    </div>
  
    <div class="column">
      <div class="section ai-agenda-item">
        <div><!-- header interface  -->
          <!-- <a class="button">
            Send
          </a>
          <a class="button">
            Status
          </a> -->
        </div>
        <!-- sets the current agenda item loaded into the side with the currentItemIndex of the agendaItems list stored on the root instance data -->
        <agenda-item :agenda-item="agendaItems[currentItemIndex]"></agenda-item>
      </div>
    </div>

    <div class="column is-2">
      <div>
        <p class="menu-label">New Agenda Item</p>
        <ul id="ai-new-agenda-item">
          <div v-for="newItem in newItems">
            <!-- populates choices with list of agenda item types ('newItem') from root instance data -->
            <new-item :new-item="newItem" :agenda-items="agendaItems" :current-item-index.sync="currentItemIndex"></new-item>
          </div>
        </ul>
      </div>
    </div>
  </div>
</template>

<template id="meeting-details-template">
  <div class="style-element section ai-details">
    <div class="box">
      <h2 class="subtitle is-3">(Icon missing) Meeting Details</h2>
      <div class="ai-description">
        <label class="label">Description</label>
        <div class="control">
          <textarea class="textarea" placeholder="{{ @agm.description }}"></textarea>
        </div>
      </div>
      <div class="ai-location">
        <div class="control">
          <label class="label">Location</label>
          <input class="input" type="text" placeholder="{{ @agm.title }}">
        </div>
      </div>
      <div class="ai-date-time">
        <div class="control">
          <label class="label">Date & Time</label>
          <input class="input" type="datetime-local" placeholder="{{ @agm.meeting_date }}">
        </div>
      </div>
      <div class="ai-responsible">
        <label class="label">Chair of Meeting</label>
        <input class="input" type="text" placeholder="{{ @agm.chair.first_name + " " + @agm.chair.last_name }}">
      </div>
      <div class="ai-attendees">
        <label class="label">Attendees</label>
        <div v-if="meeting.attendees.length === 0">
          <a class="button">
            Log Attendees
          </a>
        </div>
        <div v-else><!-- start v-else -->
          <article class="message">
            <div class="message-header">
              Present
            </div>
            <div class="message-body">
              <div class="ai-user"><i class="fa fa-hand-spock-o" aria-hidden="true">{{ @bob.first_name }}</i></div>
              <div class="ai-user"><i class="fa fa-hand-spock-o" aria-hidden="true">{{ @sylvia.first_name }}</i></div>
              <div class="ai-user"><i class="fa fa-hand-spock-o" aria-hidden="true">{{ @jason.first_name }}</i></div>
              <div class="ai-user"><i class="fa fa-hand-spock-o" aria-hidden="true">{{ @milly.first_name }}</i></div>
              <div class="ai-user"><i class="fa fa-hand-spock-o" aria-hidden="true">{{ user.first_name }}</i></div>
              <div class="ai-user"><i class="fa fa-hand-spock-o" aria-hidden="true">{{ user.first_name }}</i></div>
              <div class="ai-user"><i class="fa fa-hand-spock-o" aria-hidden="true">{{ user.first_name }}</i></div>
            </div>
          </article>
          <article class="message">
            <div class="message-header">
              Absent
            </div>
            <div class="message-body">
              <div class="ai-user"><i class="fa fa-hand-spock-o" aria-hidden="true">{{ user.first_name }}</i></div>
              <div class="ai-user"><i class="fa fa-hand-spock-o" aria-hidden="true">{{ user.first_name }}</i></div>
            </div>
          </article>
          <a class="button">
            Adjust Attendees
          </a>
        </div><!-- end v-else   -->
      </div>
         <!-- TODO add call to order time stamp -->
      <div class="ai-minutes">
        <label class="label">Discussion</label>
        <div class="control">
          <textarea class="textarea" placeholder="{{ @agm.discussion }}"></textarea>
        </div>
      </div>
    </div>
  </div>
</template>

<!-- creates the list on the left sidebar containing all current agenda items -->
<template id="agenda-item-selection-template">
  <li>
    <span @click="setCurrentAgendaItem">
      <icon :agenda-item="agendaItem"></icon>
      <!-- TODO Olga: add overflow to this span -->
      <span v-if="agendaItem.title">{{agendaItem.title}}</span>
      <span v-else><em>Unnamed {{agendaItem.type}}</em></span>
    </span>
    <!-- TODO Olga: add padding left and maybe colouring? to this i -->
    <i class="fa fa-trash pull-right" aria-hidden="true" @click="deleteAgendaItem"></i>
  </li>
</template>

<template id="agenda-item-template">
  <div class="box">
    <h2 class="subtitle is-3">
      <icon :agenda-item="agendaItem"></icon> 
      {{agendaItem.type}}
    </h2>
    <div class="ai-title">
      <div class="control">
        <label class="label"> Title</label>
        <input class="input" type="text" v-model="agendaItem.title">
      </div>
    </div>
    <div class="ai-description">
      <label class="label">Description</label>
      <div class="control">
        <textarea class="textarea" v-model="agendaItem.description"></textarea>
      </div>
    </div>
    <div v-if="agendaItem.type === 'Action Item'"><!--  action item TODO need to create responsible person selection functionality. TODO incorporate select functionality-->
      <div class="ai-responsible">
        <label class="label">Responsible Board Member(s)</label>
        <input class="input" type="text" placeholder="@resp_user2.user_id">
      </div>
      <div class="ai-date-time">
        <div class="control">
          <label class="label">Due Date</label>
          <input class="input" type="datetime-local" placeholder="agendaItem.due_date">
        </div>
      </div>
      <div class="ai-status">
        <label class="label">Status</label>
        <p class="control">
          <span class="select">
            <select>
              <option>Select status</option>
              <option>Active</option>
              <option>Carried Forward</option>
              <option>Completed</option>
            </select>
          </span>
        </p>
      </div>
    </div><!-- end action item -->

    <div v-if="agendaItem.type === 'Business'"><!-- business TODO incorporate monica's PR with single person upload functionality TODO incorporate monica's PR with fix for options-->
      <div class="ai-responsible">
        <label class="label">Presenter(s)</label>
        <input class="input" type="text" placeholder="{{ @resp_user2.user_id }}">
      </div>
      <div class="ai-status">
        <label class="label">Status</label>
        <p class="control">
          <span class="select">
            <select>
              <option>Select status</option>
              <option>Active</option>
              <option>Carried Forward</option>
              <option>Completed</option>
            </select>
          </span>
        </p>
      </div>
    </div><!-- end business -->

    <div v-if="agendaItem.type === 'Document'"><!-- document TODO write function to post the data on submit. does this submit separately from the rest of the stuffs? -->
      <div class="ai-responsible">
        <label class="label">Presenter(s)</label>
        <input class="input" type="text" placeholder="{{ responsible_person_user_id.user_id }}">
      </div>
      <div class="ai-upload">
        <label class="label">Upload Document</label>
        <div v-if="!agendaItem.filename">
          <form action="'/agenda-items/' + agendaItem.id + '/save_file'" method="POST" enctype="multipart/form-data">
            <input type="file" name="file">
            <input type="submit" value="Upload" class="button">
          </form>
        </div>
        <div v-else>
          <a href="">{{ agendaItem.file_path }}</a>
        </div>
      </div>
    </div><!-- end document -->

    <div v-if="agendaItem.type === 'Election'"><!-- TODO election -->
    </div><!-- end election -->

    <div v-if="agendaItem.type === 'Motion'"><div><!-- motion TODO fix votes loop with code from /meetings TODO fix unaligned divs -->
      <div class="ai-responsible">
        <label class="label">Mover</label>
        <input class="input" type="text" v-model="agendaItem.mover.first_name">
      </div>
      <div class="ai-responsible">
        <label class="label">Seconder</label>
        <input class="input" type="text" v-model="agendaItem.seconder.first_name">
      </div>
      <div class="ai-vote">
        <div v-if="agendaItem.votes.length === 0">
          <a class="button">
            Log Votes
          </a>
        </div>

        <div v-else> <!-- start v-else -->
        <!-- TODO pull in logic from /meetings for how to loop over votes -->
          <article class="message">
            <div class="message-header in-favour" >
              <span class="icon">  
                <i class="fa fa-checkbox-marked-circle-outline"></i>
              </span>
              In Favour
            </div>
            <div class="message-body">
              <span class="ai-user">
                <span class="icon">
                    <i class="fa fa-person"></i>
                  </span>
                {{ agendaItem.voting_user.first_name }}
              </span>
              
              <span class="ai-user">
                <span class="icon">
                    <i class="fa fa-person"></i>
                  </span>
                {{ agendaItem.voting_user.first_name }}
              </span>
              
              <span class="ai-user">
                <span class="icon">
                    <i class="fa fa-person"></i>
                  </span>
                {{ agendaItem.voting_user.first_name }}
              </span>
              
              <span class="ai-user">
                <span class="icon">
                    <i class="fa fa-person"></i>
                  </span>
                {{ agendaItem.voting_user.first_name }}
              </span>
              
              <span class="ai-user">
                <span class="icon">
                    <i class="fa fa-person"></i>
                  </span>
                {{ agendaItem.voting_user.first_name }}
              </span>
              
              <span class="ai-user">
                <span class="icon">
                    <i class="fa fa-person"></i>
                  </span>
                {{ agendaItem.voting_user.first_name }}
              </span>

            </div>
          </article>
          <article class="message">
            <div class="message-header opposed">
             <span class="icon">  
               <i class="fa fa-close-circle-outline"></i>
             </span>
              Opposed
            </div>
            <div class="message-body">
             <span class="ai-user  opposed">
               <span class="icon">
                   <i class="fa fa-person"></i>
                 </span>
               {{ agendaItem.voting_user.first_name }}
             </span><span class="ai-user  opposed">
                <span class="icon">
                    <i class="fa fa-person"></i>
                  </span>
                {{ agendaItem.voting_user.first_name }}
              </span><span class="ai-user  opposed">
                <span class="icon">
                    <i class="fa fa-person"></i>
                  </span>
                {{ agendaItem.voting_user.first_name }}
              </span>
            </div>
          </article>
          <article class="message">
            <div class="message-header abstain">
              <span class="icon">  
                <i class="fa fa-checkbox-blank-circle-outline"></i>
              </span>
              Abstain
            </div>
            <div class="message-body">
              <span class="ai-user  abstain">
                <span class="icon">
                    <i class="fa fa-person"></i>
                  </span>
                {{ agendaItem.voting_user.first_name }}
              </span>
              <span class="ai-user  abstain">
                <span class="icon">
                    <i class="fa fa-person"></i>
                  </span>
                {{ agendaItem.voting_user.first_name }}
              </span>     
            </div>
          </article>
          <a class="button">
            Adjust Votes
          </a>
        </div>
      </div>  <!-- end v-else -->
    </div><!-- end motion -->
    </div>

    <div class="ai-minutes">
      <label class="label">Discussion</label>
      <div class="control">
        <textarea class="textarea" v-model="agendaItem.discussion"></textarea>
      </div>
    </div>
    <input type="submit" value="Save" class="button">
  </div>
</template>

<template id="icons-template">
  <i v-if="agendaItem.type === 'Business'" class="fa fa-briefcase" aria-hidden="true"></i>
  <i v-if="agendaItem.type === 'Document'" class="fa fa-file-document" aria-hidden="true"></i>
  <i v-if="agendaItem.type === 'Action Item'" class="fa fa-exclamation-circle-btb" aria-hidden="true"></i>
  <i v-if="agendaItem.type === 'Motion'" class="fa fa-gavel" aria-hidden="true"></i>
  <i v-if="agendaItem.type === 'Election'" class="fa fa-checkbox-multiple-marked-outline" aria-hidden="true"></i>
</template>

<template id="new-item-template">
   <li @click="addAgendaItem"><span><i class="fa fa-plus-square fa-lg"></i></span><span><i class="fa fa-{{newItem.icon}}" aria-hidden="true"></i></span> {{newItem.type}}</li>
</template>

<!-- <template id="agenda-menu-li-template">
  <li>{{ agendaItem.title }}</li>
</template> -->

<script>
  Vue.component('new-item', {
    template: "#new-item-template",
    props: ['newItem', 'agendaItems', 'currentItemIndex'],
    methods: {
      addAgendaItem: function() {
        console.log("clicked to add new item")
        this.$http.post('/api/agenda-items/new', {'type': this.newItem.type}, {emulateJSON:true}).then(function(response) {
          newAgendaItem = response.json()
          this.agendaItems.push(newAgendaItem)
          this.currentItemIndex = (this.agendaItems.length -1)
        }).error(function(error) {
          console.log(error);
        }.bind(this));
      }
    }
  });

  Vue.component('agenda-item-selection', {
    template: "#agenda-item-selection-template",
    props: ['agendaItem','currentItemIndex'],
    methods: {
      setCurrentAgendaItem: function() {
        this.currentItemIndex = this.agendaItem.id - 1
      },
      deleteAgendaItem: function() {
        var itemId = this.agendaItem.id
        this.$http.get('/api/agenda-items/' + itemId + '/delete', {'id': itemId}, {emulateJSON:true}).then(function(response) {
          this.$dispatch('agenda-item-deleted', this.agendaItem)
          console.log("agenda item deleted")
          if (this.currentItemIndex === itemId) {
            this.currentItemIndex = itemId - 1
          }
        }).error(function(error) {
          console.log(error);
        }.bind(this));
      }
    }
  });

  Vue.component('icon', {
    template: "#icons-template",
    props: ['agendaItem']
  });

  Vue.component('motion', {
    template: "#motion-template",
    props: ['agendaItem']
  }); 

  Vue.component('agenda-menu', {
    template: '#agenda-menu-template',
    props: ['agendaItems','currentItemIndex']
  });  

  Vue.component('agenda-item', {
    template: '#agenda-item-template',
    props: ['agendaItem']
  });

  Vue.component('agenda-items', {
    template: '#agenda-items-template',
    data: function() {
      return {
        agendaItems: [],
        currentItemIndex: 0,
        newItems: [
          { type: 'Action Item', icon: 'exclamation-circle-btb' },
          { type: 'Business', icon: 'briefcase' },
          { type: 'Document', icon: 'file-document'},
          { type: 'Election', icon: 'checkbox-multiple-marked-outline'},
          { type: 'Motion', icon: 'gavel'}
        ]
      }
    },
    created: function() {
      this.$http.get('/api/agenda-items').then(function(response){
        this.agendaItems = response.json();
      }.bind(this));
    },
    events: {
    'agenda-item-deleted': function (agendaItem) {
      // `this` in event callbacks are automatically bound
      // to the instance that registered it
      this.agendaItems.pop(agendaItem)
    }
  }
  });


  new Vue({
    el: '#app',
  });

</script>