<!-- TODO move CSS to css file-->

<!-- TODO test save button post the data fo the following fancy fields -->
  <!-- document: file upload -->
  <!-- election: voters -->
  <!-- business: status ** not working -->
  <!-- action item: status ** not working -->
  <!-- action item: due date ** not working ** should this also have a time??--> 
  <!-- motion: voters -->
  <!-- meeting details: attendees -->
  <!-- meeting details: date & time ** not working -->

<!-- TODO meeting details and meeting closure functionality -->
  <!-- TODO get data about an individual meeting -->
  <!-- TODO add send prompt in end of meeting details -->
  <!-- TODO change meeting closing fields to inputs -->

<!-- FUTURE FEATURES: -->
  <!-- TODO create migration for adding called to order time -->
    <!-- TODO add start meeting & end meeting buttons -->
  <!-- TODO add auto-save functionality-->

<style>
  .ai-agenda-list, #ai-new-agenda-item > div > li {
    cursor: pointer;
  }

  #ai-new-agenda-item > div > li {
   background: white;
   border: 1px solid;
   border-radius: 10px;
   padding: 10px 15px;
   margin: 3px;
   
  }

  #ai-new-agenda-item > div > li > span:first-child {
    padding-right: 15px;
    color: blue;
  }
</style>

<div id="app" class="container">
  <agenda-items></agenda-items>
</div>

<template id="meeting-details-template">
  <div class="style-element section ai-details">
    <div class="box">
      <form @submit.prevent="submitMeeting">
        <h2 class="subtitle is-3"><i class="fa fa-library-books" aria-hidden="true"></i> Meeting Details</h2>
        <div class="ai-title">
          <label class="label">Title</label>
          <div class="control">
            <input class="input" type="text" placeholder="" v-model="currentMeeting.title" name="title">
          </div>
        </div>
        <div class="ai-description">
          <label class="label">Description</label>
          <div class="control">
            <textarea class="textarea" placeholder="" v-model="currentMeeting.description" name="description"></textarea>
          </div>
        </div>
        <div class="ai-location">
          <div class="control">
            <label class="label">Location</label>
            <input class="input" type="text" placeholder="" v-model="currentMeeting.location" name="location">
          </div>
        </div>
        <div class="ai-date-time">
          <div class="control">
            <label class="label">Date & Time</label>
            <input class="input" type="datetime-local" placeholder="" v-model="currentMeeting.meeting_date | moment 'YYYY-MM-DDTHH:mm'" name="meeting_date">
          </div>
        </div>
        <div class="ai-responsible">
          <label class="label">Chair of Meeting</label>
          <input class="input" type="text" placeholder="" v-model="currentMeeting.chair.first_name" name="chair">
        </div>
        <div class="ai-attendees">
          <label class="label">Attendees</label>
          <div v-if="meeting.attendees.length === 0">
            <a class="button">
              Log Attendees
            </a>
          </div>
          <div v-else><!-- start v-else -->
            <article class="message">
              <div class="message-header">
                Present
              </div>
              <div class="message-body">
                <div class="ai-user"><i class="fa fa-hand-spock-o" aria-hidden="true">{{ @bob.first_name }}</i></div>
                <div class="ai-user"><i class="fa fa-hand-spock-o" aria-hidden="true">{{ @sylvia.first_name }}</i></div>
                <div class="ai-user"><i class="fa fa-hand-spock-o" aria-hidden="true">{{ @jason.first_name }}</i></div>
                <div class="ai-user"><i class="fa fa-hand-spock-o" aria-hidden="true">{{ @milly.first_name }}</i></div>
                <div class="ai-user"><i class="fa fa-hand-spock-o" aria-hidden="true">{{ user.first_name }}</i></div>
                <div class="ai-user"><i class="fa fa-hand-spock-o" aria-hidden="true">{{ user.first_name }}</i></div>
                <div class="ai-user"><i class="fa fa-hand-spock-o" aria-hidden="true">{{ user.first_name }}</i></div>
              </div>
            </article>
            <article class="message">
              <div class="message-header">
                Absent
              </div>
              <div class="message-body">
                <div class="ai-user"><i class="fa fa-hand-spock-o" aria-hidden="true">{{ user.first_name }}</i></div>
                <div class="ai-user"><i class="fa fa-hand-spock-o" aria-hidden="true">{{ user.first_name }}</i></div>
              </div>
            </article>
            <a class="button">
              Adjust Attendees
            </a>
          </div><!-- end v-else   -->
        </div>
           <!-- TODO add call to order time stamp -->
        <div class="ai-minutes">
          <label class="label">Discussion</label>
          <div class="control">
            <textarea class="textarea" placeholder="{{ @agm.discussion }}" v-model="" name=""></textarea>
          </div>
        </div>
        <input type="submit" value="Save" class="button">
      </form>
    </div>
  </div>
</template>

<template id="agenda-items-template">
  <div class="columns">
    <div class="column is-3">
      <aside class="menu">
        <p class="menu-label">Agenda Items</p>
        <ul class="ai-agenda-list">
          <!-- meeting details are not an agenda item, they belong to the meeting -->
          <li @click="setCurrentMeetingDetails"><i class="fa fa-library-books" aria-hidden="true"></i> Meeting Details</li>
          <div v-for="agendaItem in agendaItems | orderBy 'position'">     
              <agenda-item-selection :agenda-item.sync="agendaItem" :current-item-index.sync="currentItemIndex"></agenda-item-selection>
          </div>
          <!-- meeting closing is not an agenda item, the data belongs to the meeting -->
          <li @click="setCurrentMeetingClose"><i class="fa fa-library-books" aria-hidden="true"></i> Meeting Closing</li>
        </ul>
      </aside>
    </div>
  
    <div class="column">
      <div v-if="currentItemIndex === 'Meeting Details'"><meeting-details :current-meeting.sync="currentMeeting"></meeting-details></div>
      <div v-if="currentItemIndex === 'Meeting Closing'"><meeting-closing :current-meeting.sync="currentMeeting"></meeting-closing></div>
      <div v-if="currentItemIndex >= 0" class="section ai-agenda-item">
        <div><!-- header interface  -->
          <!-- <a class="button">
            Send
          </a>
          <a class="button">
            Status
          </a> -->
        </div>
        <!-- sets the current agenda item loaded into the side with the currentItemIndex of the agendaItems list stored on the root instance data -->
        <agenda-item :agenda-item="agendaItems[currentItemIndex]"></agenda-item>
      </div>
    </div>

    <div class="column is-2">
      <div>
        <p class="menu-label">New Agenda Item</p>
        <ul id="ai-new-agenda-item">
          <div v-for="newItem in newItems">
            <!-- populates choices with list of agenda item types ('newItem') from root instance data -->
            <new-item :new-item.sync="newItem" :agenda-items.sync="agendaItems" :current-item-index.sync="currentItemIndex"></new-item>
          </div>
        </ul>
      </div>
    </div>
  </div>
</template>

<!-- creates the list on the left sidebar containing all current agenda items -->
<template id="agenda-item-selection-template">
  <li>
    <span @click="setCurrentAgendaItem">
      <icon :agenda-item="agendaItem"></icon>
      <!-- TODO Olga: add overflow to this span -->
      <span v-if="agendaItem.title">{{agendaItem.title}}</span>
      <span v-else><em>Unnamed {{agendaItem.type}}</em></span>
    </span>
    <!-- TODO Olga: add padding left and maybe colouring? to this i -->
    <i class="fa fa-trash pull-right" aria-hidden="true" @click="deleteAgendaItem"></i>
  </li>
</template>

<template id="agenda-item-template">
  <div class="box">
    <form @submit.prevent="postData">
      <h2 class="subtitle is-3">
        <icon :agenda-item="agendaItem"></icon> 
        <span>{{agendaItem.type}}</span>
      </h2>
      <div class="ai-title">
        <div class="control">
          <label class="label">Title</label>
          <input class="input" type="text" v-model="agendaItem.title" name="title">
        </div>
      </div>
      <div class="ai-description">
        <label class="label">Description</label>
        <div class="control">
          <textarea class="textarea" v-model="agendaItem.description" name="description"></textarea>
        </div>
      </div>
      <div class="ai-action-item" v-if="agendaItem.type === 'Action Item'"><!--  action item TODO need to create responsible person selection functionality. TODO incorporate select functionality-->
        <div class="ai-responsible">
          <label class="label">Responsible Board Member(s)</label>
          <input class="input" type="text" placeholder="@resp_user2.user_id">
        </div>
        <div class="ai-date-time">
          <div class="control">
            <label class="label">Due Date</label>
            <input class="input" type="datetime-local" placeholder="agendaItem.due_date" name="due_date">
          </div>
        </div>
        <div class="ai-status">
          <label class="label">Status</label>
          <p class="control">
            <span class="select">
              <select name="status">
                <option >Select status</option>
                <option value="Active">Active</option>
                <option value="Carried Forward">Carried Forward</option>
                <option value="Completed">Completed</option>
              </select>
            </span>
          </p>
        </div>
      </div><!-- end action item -->

      <div class="ai-business" v-if="agendaItem.type === 'Business'"><!-- business TODO incorporate monica's PR with single person upload functionality TODO incorporate monica's PR with fix for options-->
        <div class="ai-responsible">
          <label class="label">Presenter(s)</label>
          <input class="input" type="text" v-model="agendaItem.responsible_users" name="responsible_users">
        </div>
        <div class="ai-status">
          <label class="label">Status</label>
          <p class="control">
            <span class="select">
              <select name="status">
                <option>Select status</option>
                <option value="Active">Active</option>
                <option value="Carried Forward">Carried Forward</option>
                <option vaue="Completed">Completed</option>
              </select>
            </span>
          </p>
        </div>
      </div><!-- end business -->

      <div class="ai-document" v-if="agendaItem.type === 'Document'"><!-- document TODO write function to post the data on submit. does this submit separately from the rest of the stuffs? -->
        <div class="ai-responsible">
          <label class="label">Presenter(s)</label>
          <input class="input" type="text" placeholder="{{ responsible_person_user_id.user_id }}">
        </div>

        <div class="ai-upload">
          <label class="label">Upload Document</label>
          <div v-if="!agendaItem.filename">
            <!-- <form action="'/agenda-items/' + agendaItem.id + '/save_file'" method="POST" enctype="multipart/form-data"> -->
              <input type="file" name="file">
              <!-- TODO if the file isn't posting properly it might be because this name is not being checked for properly in the if statement in the post method -->
              <!-- <input type="submit" value="Upload" class="button"> -->
            <!-- </form> -->
          </div>
          <div v-else>
            <a href="">{{ agendaItem.file_path }}</a>
            <a class="button">Remove Document</a>
          </div>
        </div>
      </div><!-- end document -->

      <div class="ai-election" v-if="agendaItem.type === 'Election'"><!-- TODO election -->
        <div class="ai-responsible">
          <label class="label">Nominee</label>
          <input class="input" type="text" placeholder="{{ agenda_item.user_id }}" name="responsible_users">
        </div>
        <div class="ai-responsible">
          <label class="label">Mover</label>
          <input class="input" type="text" placeholder="{{ @election1.mover.first_name }}" name="mover">
        </div>
        <div class="ai-responsible">
          <label class="label">Seconder</label>
          <input class="input" type="text" placeholder="{{ @election1.seconder.first_name }}" name="seconder">
        </div>
        <div class="ai-vote">
          <div v-if="agendaItem.votes.length === 0">
            <a class="button">
              Log Votes
            </a>
          </div>
          <div v-else>
            <article class="message">
              <div class="message-header">
                In Favour
              </div>
              <div class="message-body">
                <div class="ai-user"><i class="fa fa-hand-spock-o" aria-hidden="true">{{ user.first_name }}</i></div>
                <div class="ai-user"><i class="fa fa-hand-spock-o" aria-hidden="true">{{ user.first_name }}</i></div>
                <div class="ai-user"><i class="fa fa-hand-spock-o" aria-hidden="true">{{ user.first_name }}</i></div>
                <div class="ai-user"><i class="fa fa-hand-spock-o" aria-hidden="true">{{ user.first_name }}</i></div>
                <div class="ai-user"><i class="fa fa-hand-spock-o" aria-hidden="true">{{ user.first_name }}</i></div>
                <div class="ai-user"><i class="fa fa-hand-spock-o" aria-hidden="true">{{ user.first_name }}</i></div>
                <div class="ai-user"><i class="fa fa-hand-spock-o" aria-hidden="true">{{ user.first_name }}</i></div>
              </div>
            </article>
            <article class="message">
              <div class="message-header">
                Opposed
              </div>
              <div class="message-body">
                <div class="ai-user"><i class="fa fa-hand-spock-o" aria-hidden="true">{{ user.first_name }}</i></div>
                <div class="ai-user"><i class="fa fa-hand-spock-o" aria-hidden="true">{{ user.first_name }}</i></div>
              </div>
            </article>
            <article class="message">
              <div class="message-header">
                Abstained
              </div>
              <div class="message-body">
                <div class="ai-user"><i class="fa fa-hand-spock-o" aria-hidden="true">{{ user.first_name }}</i></div>
                <div class="ai-user"><i class="fa fa-hand-spock-o" aria-hidden="true">{{ user.first_name }}</i></div>
              </div>
            </article>
            <a class="button">
              Adjust Votes
            </a>
          </div>
        </div>
      </div><!-- end election -->

      <div class="ai-motion" v-if="agendaItem.type === 'Motion'"><!-- motion TODO fix votes loop with code from /meetings TODO fix unaligned divs -->
        <div class="ai-responsible">
          <label class="label">Mover</label>
          <input class="input" type="text" v-model="agendaItem.mover.first_name">
        </div>
        <div class="ai-responsible">
          <label class="label">Seconder</label>
          <input class="input" type="text" v-model="agendaItem.seconder.first_name">
        </div>
        <div class="ai-vote">
          <div v-if="agendaItem.votes.length === 0">
            <a class="button">
              Log Votes
            </a>
          </div>

          <div v-else> <!-- start v-else -->
          <!-- TODO pull in logic from /meetings for how to loop over votes -->
            <article class="message">
              <div class="message-header in-favour" >
                <span class="icon">  
                  <i class="fa fa-checkbox-marked-circle-outline"></i>
                </span>
                In Favour
              </div>
              <div class="message-body">
                <span class="ai-user">
                  <span class="icon">
                      <i class="fa fa-person"></i>
                    </span>
                  {{ agendaItem.voting_user.first_name }}
                </span>
                
                <span class="ai-user">
                  <span class="icon">
                      <i class="fa fa-person"></i>
                    </span>
                  {{ agendaItem.voting_user.first_name }}
                </span>
                
                <span class="ai-user">
                  <span class="icon">
                      <i class="fa fa-person"></i>
                    </span>
                  {{ agendaItem.voting_user.first_name }}
                </span>
                
                <span class="ai-user">
                  <span class="icon">
                      <i class="fa fa-person"></i>
                    </span>
                  {{ agendaItem.voting_user.first_name }}
                </span>
                
                <span class="ai-user">
                  <span class="icon">
                      <i class="fa fa-person"></i>
                    </span>
                  {{ agendaItem.voting_user.first_name }}
                </span>
                
                <span class="ai-user">
                  <span class="icon">
                      <i class="fa fa-person"></i>
                    </span>
                  {{ agendaItem.voting_user.first_name }}
                </span>
              </div>
            </article>
            <article class="message">
              <div class="message-header opposed">
               <span class="icon">  
                 <i class="fa fa-close-circle-outline"></i>
               </span>
                Opposed
              </div>
              <div class="message-body">
               <span class="ai-user  opposed">
                 <span class="icon">
                     <i class="fa fa-person"></i>
                   </span>
                 {{ agendaItem.voting_user.first_name }}
               </span><span class="ai-user  opposed">
                  <span class="icon">
                      <i class="fa fa-person"></i>
                    </span>
                  {{ agendaItem.voting_user.first_name }}
                </span><span class="ai-user  opposed">
                  <span class="icon">
                      <i class="fa fa-person"></i>
                    </span>
                  {{ agendaItem.voting_user.first_name }}
                </span>
              </div>
            </article>
            <article class="message">
              <div class="message-header abstain">
                <span class="icon">  
                  <i class="fa fa-checkbox-blank-circle-outline"></i>
                </span>
                Abstain
              </div>
              <div class="message-body">
                <span class="ai-user  abstain">
                  <span class="icon">
                      <i class="fa fa-person"></i>
                    </span>
                  {{ agendaItem.voting_user.first_name }}
                </span>
                <span class="ai-user  abstain">
                  <span class="icon">
                      <i class="fa fa-person"></i>
                    </span>
                  {{ agendaItem.voting_user.first_name }}
                </span>     
              </div>
            </article>
            <a class="button">
              Adjust Votes
            </a>
          </div><!-- end v-else -->
        </div>  
      </div><!-- end motion -->
      <!-- </div> -->

      <div class="ai-minutes">
        <label class="label">Discussion</label>
        <div class="control">
          <textarea class="textarea" v-model="agendaItem.discussion" name="discussion"></textarea>
        </div>
      </div>
      <input type="submit" value="Save" class="button">
    </form>
  </div>
</template>

<template id="icons-template">
  <i v-if="agendaItem.type === 'Business'" class="fa fa-briefcase" aria-hidden="true"></i>
  <i v-if="agendaItem.type === 'Document'" class="fa fa-file-document" aria-hidden="true"></i>
  <i v-if="agendaItem.type === 'Action Item'" class="fa fa-exclamation-circle-btb" aria-hidden="true"></i>
  <i v-if="agendaItem.type === 'Motion'" class="fa fa-gavel" aria-hidden="true"></i>
  <i v-if="agendaItem.type === 'Election'" class="fa fa-checkbox-multiple-marked-outline" aria-hidden="true"></i>
</template>

<template id="new-item-template">
   <li @click="addAgendaItem"><span><i class="fa fa-plus-square fa-lg"></i></span><span><i class="fa fa-{{newItem.icon}}" aria-hidden="true"></i></span> {{newItem.type}}</li>
</template>

<template id="meeting-closing-template">
  <div class="box container">
    <h2 class="subtitle is-3"><i class="fa fa-library-books" aria-hidden="true"></i> Meeting Closing</h2>
    <div class="ai-date-time">
      <div class="control">
        <label class="label">Meeting Adjournment Time</label>
        <input class="input" type="datetime-local" placeholder="" v-model="currentMeeting.adjournment_time | moment 'YYYY-MM-DDTHH:mm'" name="adjournment_time">
      </div>
    </div>
    <div class="ai-date-time">
      <div class="control">
        <label class="label">Next Meeting Date</label>
        <input class="input" type="datetime-local" placeholder="" v-model="currentMeeting.next_meeting | moment 'YYYY-MM-DDTHH:mm'" name="next_meeting">
      </div>
    </div>
  </div>
</template>

<!-- <template id="agenda-menu-li-template">
  <li>{{ agendaItem.title }}</li>
</template> -->

<script>
  Vue.component('meeting-closing', {
      template: "#meeting-closing-template",
      props: ['currentMeeting']
    })

  Vue.component('meeting-details', {
    template: "#meeting-details-template",
    props: ['currentMeeting']
  })

  Vue.component('new-item', {
    template: "#new-item-template",
    props: ['newItem', 'agendaItems', 'currentItemIndex'],
    methods: {
      addAgendaItem: function() {
        this.newItem.position = this.agendaItems.length
        console.log(this.newItem.position)
        this.$http.post('/api/agenda-items/new', {'type': this.newItem.type, 'position': this.newItem.position}, {emulateJSON:true}).then(function(response) {
          newAgendaItem = response.json()
          this.agendaItems.push(newAgendaItem)
          this.$dispatch('set-current-item-index', newAgendaItem)
        }).error(function(error) {
          console.log(error);
        }.bind(this));
      }
    }
  });

  Vue.component('agenda-item-selection', {
    template: "#agenda-item-selection-template",
    props: ['agendaItem','currentItemIndex'],
    methods: {
      setCurrentAgendaItem: function() {
        console.log("the position of the clicked one is" + this.agendaItem.position)
        this.$dispatch('set-current-item-index', this.agendaItem)
      },
      deleteAgendaItem: function() {
        var itemId = this.agendaItem.id
        this.$http.get('/api/agenda-items/' + itemId + '/delete', {'id': itemId}, {emulateJSON:true}).then(function(response) {
          this.$dispatch('agenda-item-deleted', this.agendaItem)
          // TODO figure out how to make this work again!
          // if (this.currentItemIndex === agendaItem.position - 1) {
          //   this.$dispatch('set-current-item-index', this.agendaItem)
          // }
        }).error(function(error) {
          console.log(error);
        }.bind(this));
      }
    }
  });

  Vue.component('icon', {
    template: "#icons-template",
    props: ['agendaItem']
  });

  Vue.component('motion', {
    template: "#motion-template",
    props: ['agendaItem']
  }); 

  Vue.component('agenda-menu', {
    template: '#agenda-menu-template',
    props: ['agendaItems','currentItemIndex']
  });  

  Vue.component('agenda-item', {
    template: '#agenda-item-template',
    props: ['agendaItem'],
    methods: {
      postData: function() {
        console.log("save request triggered!")
        // first post posts the agenda item data
        this.$http.post('/api/agenda-items/' + this.agendaItem.id, this.agendaItem, {emulateJSON:true}).then(function(response) {
            // if (response.results) {
              // TODO maybe think about rerouting them to the next agenda item automatically?
              console.log("agenda item updated");
            // }
            // else {
            //   console.log("agenda item not updated");
            // }
          }).error(function(error) {
            console.log(error);
          }.bind(this));

        // second post posts the responsible users

        // third post posts the votes

        // fourth post posts the file
        if (agendaItem.file_path) {
          // do the post
        }
      }
    }
  });

  Vue.component('agenda-items', {
    template: '#agenda-items-template',
    data: function() {
      return {
        currentMeeting: {},
        agendaItems: [],
        currentItemIndex: 'Meeting Details',
        newItems: [
          { type: 'Action Item', icon: 'exclamation-circle-btb' },
          { type: 'Business', icon: 'briefcase' },
          { type: 'Document', icon: 'file-document'},
          { type: 'Election', icon: 'checkbox-multiple-marked-outline'},
          { type: 'Motion', icon: 'gavel'}
        ],
        mover: {},
        seconder: {},
        responsibleUsers: [],
        votes: []
      }
    },
    created: function() {
      // gets all agenda items
      this.$http.get('/api/agenda-items').then(function(response){
        this.agendaItems = response.json();
      }.bind(this));

      this.$http.get('/api/meetings/1').then(function(response){
        this.currentMeeting = response.json();
      }.bind(this));
      
    },
    events: {
    'agenda-item-deleted': function (agendaItem) {
      var deletedItemIndex = this.agendaItems.indexOf(agendaItem)
      if (this.currentItemIndex === deletedItemIndex) {
        this.currentItemIndex = (deletedItemIndex - 1)
      }
      this.agendaItems.pop(agendaItem)
    },
    'set-current-item-index': function(agendaItem) {
      var index = this.agendaItems.indexOf(agendaItem)
      this.currentItemIndex = index
    }
  },
  methods: {
    setCurrentMeetingDetails: function() {
      this.currentItemIndex = 'Meeting Details'
    },
    setCurrentMeetingClose: function() {
      this.currentItemIndex = 'Meeting Closing'
    }
  }
  });


  new Vue({
    el: '#app',
  });

</script>