<%#
<!-- TODO move CSS to css file-->

<!-- TODO test save button post the data fo the following fancy fields -->
  <!-- document: file upload -->
  <!-- election: voters -->
<<<<<<< HEAD
  <!-- action item: due date ** not working **--> 
=======
  <!-- action item: due date ** not working ** should this have a time or just a date??-->
>>>>>>> d2ef9ded1a13dce5768b1c7e552641f27e30cd3b
  <!-- motion: voters -->
  <!-- meeting details: attendees -->
  <!-- meeting details: date & time ** not working -->

<!-- FUTURE FEATURES: -->
  <!-- TODO create migration for adding called to order time -->
    <!-- TODO add start meeting & end meeting buttons -->
  <!-- TODO add auto-save functionality-->
%>

<style>
  .ai-agenda-list, #ai-new-agenda-item > div > li {
    cursor: pointer;
  }

  #ai-new-agenda-item > div > li {
   background: white;
   border: 1px solid;
   border-radius: 10px;
   padding: 10px 15px;
   margin: 3px;

  }

  #ai-new-agenda-item > div > li > span:first-child {
    padding-right: 15px;
    color: blue;
  }

  .modal-section {
    border: 1px solid;
    display: inline-block;
    padding: 20px;
  }
</style>

<div id="app" class="container">
  <agenda-items></agenda-items>
</div>

<<<<<<< HEAD
<template id="meeting-details-template">
  <div class="style-element section ai-details">
    <div class="box">
      <form @submit.prevent="submitMeeting">
        <h2 class="subtitle is-3"><i class="fa fa-library-books" aria-hidden="true"></i> Meeting Details</h2>
        <div class="ai-title">
          <label class="label">Title</label>
          <div class="control">
            <input class="input" type="text" placeholder="" v-model="currentMeeting.title" name="title">
          </div>
        </div>
        <div class="ai-description">
          <label class="label">Description</label>
          <div class="control">
            <textarea class="textarea" placeholder="" v-model="currentMeeting.description" name="description"></textarea>
          </div>
        </div>
        <div class="ai-location">
          <div class="control">
            <label class="label">Location</label>
            <input class="input" type="text" placeholder="" v-model="currentMeeting.location" name="location">
          </div>
        </div>
        <div class="ai-date-time">
          <div class="control">
            <label class="label">Date & Time</label>
            <input class="input" type="datetime-local" placeholder="" v-model="currentMeeting.meeting_date | moment 'YYYY-MM-DDTHH:mm'" name="meeting_date">
          </div>
        </div>
        <div class="ai-responsible">
          <label class="label">Chair of Meeting</label>
          <input class="input" type="text" placeholder="" v-model="currentMeeting.chair.first_name" name="chair">
        </div>
        <div class="ai-attendees">
          <label class="label">Attendees</label>
          <div v-if="meeting.attendees.length === 0">
            <a class="button">
              Log Attendees
            </a>
          </div>
          <div v-else><!-- start v-else -->
            <article class="message">
              <div class="message-header">
                Present
              </div>
              <div class="message-body">
                <div class="ai-user"><i class="fa fa-hand-spock-o" aria-hidden="true">{{ @bob.first_name }}</i></div>
                <div class="ai-user"><i class="fa fa-hand-spock-o" aria-hidden="true">{{ @sylvia.first_name }}</i></div>
                <div class="ai-user"><i class="fa fa-hand-spock-o" aria-hidden="true">{{ @jason.first_name }}</i></div>
                <div class="ai-user"><i class="fa fa-hand-spock-o" aria-hidden="true">{{ @milly.first_name }}</i></div>
                <div class="ai-user"><i class="fa fa-hand-spock-o" aria-hidden="true">{{ user.first_name }}</i></div>
                <div class="ai-user"><i class="fa fa-hand-spock-o" aria-hidden="true">{{ user.first_name }}</i></div>
                <div class="ai-user"><i class="fa fa-hand-spock-o" aria-hidden="true">{{ user.first_name }}</i></div>
              </div>
            </article>
            <article class="message">
              <div class="message-header">
                Absent
              </div>
              <div class="message-body">
                <div class="ai-user"><i class="fa fa-hand-spock-o" aria-hidden="true">{{ user.first_name }}</i></div>
                <div class="ai-user"><i class="fa fa-hand-spock-o" aria-hidden="true">{{ user.first_name }}</i></div>
              </div>
            </article>
            <a class="button">
              Adjust Attendees
            </a>
          </div><!-- end v-else   -->
        </div>
           <!-- TODO add call to order time stamp -->
        <div class="ai-minutes">
          <label class="label">Discussion</label>
          <div class="control">
            <textarea class="textarea" placeholder="" v-model="currentMeeting.discussion" name="discussion"></textarea>
          </div>
        </div>
        <input type="submit" value="Save" class="button">
      </form>
    </div>
  </div>
</template>

<template id="modal-template">
  <button class="button" @click.prevent="openModal">Log Mover and Seconder</button>
  <div class="modal" v-bind:class="{ 'is-active': showModal}">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <h1 class="title is-2" v-if="agendaItem.type === 'Election'" class="modal-card-title">
      Select Mover and Seconder</h1>
    </header>
    <section class="modal-card-body">
      <list-users :agenda-item.sync="agendaItem" :mover.sync="mover" :seconder.sync="seconder"></list-users>
    </section>
    <footer class="modal-card-foot">
      <button class="button" @click.prevent="closeModal">Close</button>
    </footer>
  </div>
</div>
</template>

<template id="agenda-items-template">
  <div class="columns">
    <div class="column is-3">
      <aside class="menu">
        <p class="menu-label">Agenda Items</p>
        <ul class="ai-agenda-list">
          <!-- meeting details are not an agenda item, they belong to the meeting -->
          <li @click="setCurrentMeetingDetails"><i class="fa fa-library-books" aria-hidden="true"></i> Meeting Details</li>
          <div v-for="agendaItem in agendaItems | orderBy 'position'">     
              <agenda-item-selection :agenda-item.sync="agendaItem" :current-item-index.sync="currentItemIndex"></agenda-item-selection>
          </div>
          <!-- meeting closing is not an agenda item, the data belongs to the meeting -->
          <li @click="setCurrentMeetingClose"><i class="fa fa-library-books" aria-hidden="true"></i> Meeting Closing</li>
        </ul>
      </aside>
    </div>
  
    <div class="column">
      <div v-if="currentItemIndex === 'Meeting Details'"><meeting-details :current-meeting.sync="currentMeeting"></meeting-details></div>
      <div v-if="currentItemIndex === 'Meeting Closing'"><meeting-closing :current-meeting.sync="currentMeeting"></meeting-closing></div>
      <div v-if="currentItemIndex >= 0" class="section ai-agenda-item">
        <div><!-- header interface  -->
          <!-- <a class="button">
            Send
          </a>
          <a class="button">
            Status
          </a> -->
        </div>
        <!-- sets the current agenda item loaded into the side with the currentItemIndex of the agendaItems list stored on the root instance data -->
        <agenda-item :agenda-item="agendaItems[currentItemIndex]" :mover.sync="mover" :seconder.sync="seconder"></agenda-item>
      </div>
    </div>

    <div class="column is-2">
      <div>
        <p class="menu-label">New Agenda Item</p>
        <ul id="ai-new-agenda-item">
          <div v-for="newItem in newItems">
            <!-- populates choices with list of agenda item types ('newItem') from root instance data -->
            <new-item :new-item.sync="newItem" :agenda-items.sync="agendaItems" :current-item-index.sync="currentItemIndex"></new-item>
          </div>
        </ul>
      </div>
    </div>
  </div>
</template>

<!-- creates the list on the left sidebar containing all current agenda items -->
<template id="agenda-item-selection-template">
  <li>
    <span @click="setCurrentAgendaItem">
      <icon :agenda-item="agendaItem"></icon>
      <!-- TODO Olga: add overflow to this span -->
      <span v-if="agendaItem.title">{{agendaItem.title}}</span>
      <span v-else><em>Unnamed {{agendaItem.type}}</em></span>
    </span>
    <!-- TODO Olga: add padding left and maybe colouring? to this i -->
    <i class="fa fa-trash pull-right" aria-hidden="true" @click="deleteAgendaItem"></i>
  </li>
</template>

<template id="agenda-item-template">
  <div class="box">
    <form @submit.prevent="postData">
      <h2 class="subtitle is-3">
        <icon :agenda-item="agendaItem"></icon> 
        <span>{{agendaItem.type}}</span>
      </h2>
      <div class="ai-title">
        <div class="control">
          <label class="label">Title</label>
          <input class="input" type="text" v-model="agendaItem.title" name="title">
        </div>
      </div>
      <div class="ai-description">
        <label class="label">Description</label>
        <div class="control">
          <textarea class="textarea" v-model="agendaItem.description" name="description"></textarea>
        </div>
      </div>
      <div class="ai-action-item" v-if="agendaItem.type === 'Action Item'"><!--  action item TODO need to create responsible person selection functionality. TODO incorporate select functionality-->
        <div class="ai-responsible">
          <label class="label">Responsible Board Member(s)</label>
          <input class="input" type="text" placeholder="@resp_user2.user_id">
        </div>
        <div class="ai-date-time">
          <div class="control">
            <label class="label">Due Date</label>
            <input class="input" type="date" placeholder="agendaItem.due_date" name="due_date">
          </div>
        </div>
        <div class="ai-status">
          <label class="label">Status</label>
          <p class="control">
            <span class="select">
              <select name="status" v-model="agendaItem.status">
                <option >Select status</option>
                <option value="Active">Active</option>
                <option value="Carried Forward">Carried Forward</option>
                <option value="Completed">Completed</option>
              </select>
            </span>
          </p>
        </div>
      </div><!-- end action item -->

      <div class="ai-business" v-if="agendaItem.type === 'Business'"><!-- business TODO incorporate monica's PR with single person upload functionality TODO incorporate monica's PR with fix for options-->
        <div class="ai-responsible">
          <label class="label">Presenter(s)</label>
          <input class="input" type="text" v-model="agendaItem.responsible_users" name="responsible_users">
        </div>
        <div class="ai-status">
          <label class="label">Status</label>
          <p class="control">
            <span class="select">
              <select name="status" v-model="agendaItem.status">
                <option>Select status</option>
                <option value="Active">Active</option>
                <option value="Carried Forward">Carried Forward</option>
                <option vaue="Completed">Completed</option>
              </select>
            </span>
          </p>
        </div>
      </div><!-- end business -->

      <div class="ai-document" v-if="agendaItem.type === 'Document'"><!-- document TODO write function to post the data on submit. does this submit separately from the rest of the stuffs? -->
        <div class="ai-responsible">
          <label class="label">Presenter(s)</label>
          <input class="input" type="text" placeholder="{{ responsible_person_user_id.user_id }}">
        </div>

        <div class="ai-upload">
          <label class="label">Upload Document</label>
          <div v-if="!agendaItem.filename">
            <!-- <form action="'/agenda-items/' + agendaItem.id + '/save_file'" method="POST" enctype="multipart/form-data"> -->
              <input type="file" name="file">
              <!-- TODO if the file isn't posting properly it might be because this name is not being checked for properly in the if statement in the post method -->
              <!-- <input type="submit" value="Upload" class="button"> -->
            <!-- </form> -->
          </div>
          <div v-else>
            <a href="">{{ agendaItem.file_path }}</a>
            <a class="button">Remove Document</a>
          </div>
        </div>
      </div><!-- end document -->

      <div class="ai-election" v-if="agendaItem.type === 'Election'"><!-- TODO election -->
        <div class="ai-responsible">
          <label class="label">Nominee</label>
          <input class="input" type="text" placeholder="{{ agenda_item.user_id }}" name="responsible_users">
        </div>
        <div class="ai-responsible">
          <label class="label">Mover</label>
          <!-- <button  id="show-mover" @click="showMover = true" class="button">Select Mover</button> -->
          <!-- TODO list-users should be in a modal! -->
          <div class="ai-user"><i class="fa fa-person" aria-hidden="true">{{mover.first_name}}</i></div>

          <label class="label">Seconder</label>
          <!-- The current Seconder is: {{mover.first_name}} -->
          <div class="ai-user"><i class="fa fa-person" aria-hidden="true">{{seconder.first_name}}</i></div>
          <br/>
          <modal :agenda-item.sync="agendaItem" :mover.sync="mover" :seconder.sync="seconder"></modal>
        </div>
        <div class="ai-responsible">
          
          <input class="input" type="text" placeholder="{{ @election1.seconder.first_name }}" name="seconder">
        </div>
        <div class="ai-vote">
          <div v-if="agendaItem.votes.length === 0">
            <a class="button">
              Log Votes
            </a>
          </div>
          <div v-else>
            <article class="message">
              <div class="message-header">
                In Favour
              </div>
              <div class="message-body">
                <div class="ai-user"><i class="fa fa-hand-spock-o" aria-hidden="true">{{ user.first_name }}</i></div>
                <div class="ai-user"><i class="fa fa-hand-spock-o" aria-hidden="true">{{ user.first_name }}</i></div>
                <div class="ai-user"><i class="fa fa-hand-spock-o" aria-hidden="true">{{ user.first_name }}</i></div>
                <div class="ai-user"><i class="fa fa-hand-spock-o" aria-hidden="true">{{ user.first_name }}</i></div>
                <div class="ai-user"><i class="fa fa-hand-spock-o" aria-hidden="true">{{ user.first_name }}</i></div>
                <div class="ai-user"><i class="fa fa-hand-spock-o" aria-hidden="true">{{ user.first_name }}</i></div>
                <div class="ai-user"><i class="fa fa-hand-spock-o" aria-hidden="true">{{ user.first_name }}</i></div>
              </div>
            </article>
            <article class="message">
              <div class="message-header">
                Opposed
              </div>
              <div class="message-body">
                <div class="ai-user"><i class="fa fa-hand-spock-o" aria-hidden="true">{{ user.first_name }}</i></div>
                <div class="ai-user"><i class="fa fa-hand-spock-o" aria-hidden="true">{{ user.first_name }}</i></div>
              </div>
            </article>
            <article class="message">
              <div class="message-header">
                Abstained
              </div>
              <div class="message-body">
                <div class="ai-user"><i class="fa fa-hand-spock-o" aria-hidden="true">{{ user.first_name }}</i></div>
                <div class="ai-user"><i class="fa fa-hand-spock-o" aria-hidden="true">{{ user.first_name }}</i></div>
              </div>
            </article>
            <a class="button">
              Adjust Votes
            </a>
          </div>
        </div>
      </div><!-- end election -->

      <div class="ai-motion" v-if="agendaItem.type === 'Motion'"><!-- motion TODO fix votes loop with code from /meetings TODO fix unaligned divs -->
        <div class="ai-responsible">
          <label class="label">Mover</label>

          <input class="input" type="text" v-model="agendaItem.mover.first_name">
        </div>
        <div class="ai-responsible">
          <label class="label">Seconder</label>
          <input class="input" type="text" v-model="agendaItem.seconder.first_name">
        </div>
        <div class="ai-vote">
          <div v-if="agendaItem.votes.length === 0">
            <a class="button">
              Log Votes
            </a>
          </div>

          <div v-else> <!-- start v-else -->
          <!-- TODO pull in logic from /meetings for how to loop over votes -->
            <article class="message">
              <div class="message-header in-favour" >
                <span class="icon">  
                  <i class="fa fa-checkbox-marked-circle-outline"></i>
                </span>
                In Favour
              </div>
              <div class="message-body">
                <span class="ai-user">
                  <span class="icon">
                      <i class="fa fa-person"></i>
                    </span>
                  {{ agendaItem.voting_user.first_name }}
                </span>
                
                <span class="ai-user">
                  <span class="icon">
                      <i class="fa fa-person"></i>
                    </span>
                  {{ agendaItem.voting_user.first_name }}
                </span>
                
                <span class="ai-user">
                  <span class="icon">
                      <i class="fa fa-person"></i>
                    </span>
                  {{ agendaItem.voting_user.first_name }}
                </span>
                
                <span class="ai-user">
                  <span class="icon">
                      <i class="fa fa-person"></i>
                    </span>
                  {{ agendaItem.voting_user.first_name }}
                </span>
                
                <span class="ai-user">
                  <span class="icon">
                      <i class="fa fa-person"></i>
                    </span>
                  {{ agendaItem.voting_user.first_name }}
                </span>
                
                <span class="ai-user">
                  <span class="icon">
                      <i class="fa fa-person"></i>
                    </span>
                  {{ agendaItem.voting_user.first_name }}
                </span>
              </div>
            </article>
            <article class="message">
              <div class="message-header opposed">
               <span class="icon">  
                 <i class="fa fa-close-circle-outline"></i>
               </span>
                Opposed
              </div>
              <div class="message-body">
               <span class="ai-user  opposed">
                 <span class="icon">
                     <i class="fa fa-person"></i>
                   </span>
                 {{ agendaItem.voting_user.first_name }}
               </span><span class="ai-user  opposed">
                  <span class="icon">
                      <i class="fa fa-person"></i>
                    </span>
                  {{ agendaItem.voting_user.first_name }}
                </span><span class="ai-user  opposed">
                  <span class="icon">
                      <i class="fa fa-person"></i>
                    </span>
                  {{ agendaItem.voting_user.first_name }}
                </span>
              </div>
            </article>
            <article class="message">
              <div class="message-header abstain">
                <span class="icon">  
                  <i class="fa fa-checkbox-blank-circle-outline"></i>
                </span>
                Abstain
              </div>
              <div class="message-body">
                <span class="ai-user  abstain">
                  <span class="icon">
                      <i class="fa fa-person"></i>
                    </span>
                  {{ agendaItem.voting_user.first_name }}
                </span>
                <span class="ai-user  abstain">
                  <span class="icon">
                      <i class="fa fa-person"></i>
                    </span>
                  {{ agendaItem.voting_user.first_name }}
                </span>     
              </div>
            </article>
            <a class="button">
              Adjust Votes
            </a>
          </div><!-- end v-else -->
        </div>  
      </div><!-- end motion -->
      <!-- </div> -->

      <div class="ai-minutes">
        <label class="label">Discussion</label>
        <div class="control">
          <textarea class="textarea" v-model="agendaItem.discussion" name="discussion"></textarea>
        </div>
      </div>
      <input type="submit" value="Save" class="button">
    </form>
  </div>
</template>

<template id="list-users-template">
    <div class="modal-section">
      <div id="select-mover">
        <div v-if="mover">
          <h2 class="subtitle is-6"><strong>The Current Mover is:</strong> {{mover.first_name}}</h2>
        </div>
        <p>Click to select the member who moved the Agenda Item:<p>
        <ul v-for="user in usersList">
          <mover :agenda-item.sync="agendaItem" :user="user" :mover.sync="mover"></mover>
        </ul>
      </div> 
    </div>
    <div class="modal-section">
      <div id="select-seconder">
        <div v-if="seconder">
          <h2 class="subtitle is-6"><strong>The Current Seconder is:</strong> {{seconder.first_name}}</h2>
        </div>
        <p>Click to select the member who seconded the Agenda Item:<p>
        <ul v-for="user in usersList">
          <seconder :agenda-item.sync="agendaItem" :user="user" :seconder.sync="seconder"></seconder>
        </ul>
      </div>
    </div>   

</template>

<template id="mover-template">
  <div class="ai-user" @click="setMover">
    <i class="fa fa-person" aria-hidden="true">
      {{user.first_name}} {{user.last_name}}
    </i>
  </div>
</template>

<template id="seconder-template">
  <div class="ai-user" @click="setSeconder">
    <i class="fa fa-person" aria-hidden="true">
      {{user.first_name}} {{user.last_name}}
    </i>
  </div>
</template>

<template id="icons-template">
  <i v-if="agendaItem.type === 'Business'" class="fa fa-briefcase" aria-hidden="true"></i>
  <i v-if="agendaItem.type === 'Document'" class="fa fa-file-document" aria-hidden="true"></i>
  <i v-if="agendaItem.type === 'Action Item'" class="fa fa-exclamation-circle-btb" aria-hidden="true"></i>
  <i v-if="agendaItem.type === 'Motion'" class="fa fa-gavel" aria-hidden="true"></i>
  <i v-if="agendaItem.type === 'Election'" class="fa fa-checkbox-multiple-marked-outline" aria-hidden="true"></i>
</template>

<template id="new-item-template">
   <li @click="addAgendaItem"><span><i class="fa fa-plus-square fa-lg"></i></span><span><i class="fa fa-{{newItem.icon}}" aria-hidden="true"></i></span> {{newItem.type}}</li>
</template>

<template id="meeting-closing-template">
  <div class="box container">
    <form @submit.prevent="submitMeeting">
      <h2 class="subtitle is-3"><i class="fa fa-library-books" aria-hidden="true"></i> Meeting Closing</h2>
      <div class="ai-date-time">
        <div class="control">
          <label class="label">Meeting Adjournment Time</label>
          <input class="input" type="datetime-local" placeholder="" v-model="currentMeeting.adjournment_time | moment 'YYYY-MM-DDTHH:mm'" name="adjournment_time">
        </div>
      </div>
      <div class="ai-date-time">
        <div class="control">
          <label class="label">Next Meeting Date</label>
          <input class="input" type="datetime-local" placeholder="" v-model="currentMeeting.next_meeting_date | moment 'YYYY-MM-DDTHH:mm'" name="next_meeting_date">
        </div>
      </div>
      <input type="submit" value="Save" class="button">
    </form>
    
  </div>
</template>

<!-- <template id="agenda-menu-li-template">
  <li>{{ agendaItem.title }}</li>
</template> -->
=======
<%= erb(:"templates/agenda_items") %>
>>>>>>> d2ef9ded1a13dce5768b1c7e552641f27e30cd3b

<script>
  new Vue({
    el: "#app"
  });
</script>

