<div id="app" class="container">
  <agenda-items></agenda-items>
</div>

<template id="agenda-items-template">
  <div class="columns">
    <div class="column is-one-quarter">
      <aside class="menu">
        <p class="menu-label">
          Agenda Items
        </p>
        <div class="center-element">
          <span class="icon">  
            <i class="fa fa-plus-square"></i>
          </span>
        </div>
        <ul>
          <div v-for="agendaItem in agendaItems">
            <li><icon :agenda-item="agendaItem"></icon> {{agendaItem.title}}</li>
          </div>
        </ul>
      </aside>
    </div>
  
    <div class="column">
      <div class="section ai-agenda-item">
        <agenda-item :current-agenda-item="currentAgendaItem"></agenda-item>
      </div>
    </div>
  </div>
</template>

<template id="agenda-item-template">
  <div class="box">
    <h2 class="subtitle is-3"><icon :agenda-item="currentAgendaItem"></icon> {{currentAgendaItem.type}}</h2>
    <div class="ai-title">
      <div class="control">
        <label class="label"> Title</label>
        <input class="input" type="text" v-model="currentAgendaItem.title">
      </div>
    </div>
    <div class="ai-description">
      <label class="label">Description</label>
      <div class="control">
        <textarea class="textarea" v-model="currentAgendaItem.description"></textarea>
      </div>
    </div>
    <motion v-if="currentAgendaItem.type === 'Motion'" :agenda-item="agendaItem"></motion>
    <div class="ai-minutes">
      <label class="label">Discussion</label>
      <div class="control">
        <textarea class="textarea" v-model="currentAgendaItem.discussion"></textarea>
      </div>
    </div>
  </div>
</template>

<template id="motion-template">
  <div class="ai-responsible">
    <label class="label">Mover</label>
    <input class="input" type="text" v-model="currentAgendaItem.mover.first_name">
  </div>
  <div class="ai-responsible">
    <label class="label">Seconder</label>
    <input class="input" type="text" v-model="currentAgendaItem.seconder.first_name">
  </div>
  <div class="ai-vote">
    <p>** if not logged</p>
    <a class="button">
      Log Votes
    </a>
    <p>** if logged</p>
    <article class="message">
        <div class="message-header in-favour" >
          <span class="icon">  
            <i class="fa fa-checkbox-marked-circle-outline"></i>
          </span>
          In Favour
        </div>
        <div class="message-body">
          <span class="ai-user tag is-medium">
            <span class="icon">
                <i class="fa fa-person"></i>
              </span>
            {{ user.first_name }}
          </span>
          
          <span class="ai-user tag is-medium">
            <span class="icon">
                <i class="fa fa-person"></i>
              </span>
            {{ user.first_name }}
          </span>
          
          <span class="ai-user tag is-medium">
            <span class="icon">
                <i class="fa fa-person"></i>
              </span>
            {{ user.first_name }}
          </span>
          
          <span class="ai-user tag is-medium">
            <span class="icon">
                <i class="fa fa-person"></i>
              </span>
            {{ user.first_name }}
          </span>
          
          <span class="ai-user tag is-medium">
            <span class="icon">
                <i class="fa fa-person"></i>
              </span>
            {{ user.first_name }}
          </span>
          
          <span class="ai-user tag is-medium">
            <span class="icon">
                <i class="fa fa-person"></i>
              </span>
            {{ user.first_name }}
          </span>

        </div>
      </article>
      <article class="message">
        <div class="message-header opposed">
         <span class="icon">  
           <i class="fa fa-close-circle-outline"></i>
         </span>
          Opposed
        </div>
        <div class="message-body">
         <span class="ai-user tag is-medium opposed">
           <span class="icon">
               <i class="fa fa-person"></i>
             </span>
           {{ user.first_name }}
         </span><span class="ai-user tag is-medium opposed">
            <span class="icon">
                <i class="fa fa-person"></i>
              </span>
            {{ user.first_name }}
          </span><span class="ai-user tag is-medium opposed">
            <span class="icon">
                <i class="fa fa-person"></i>
              </span>
            {{ user.first_name }}
          </span>
        </div>
      </article>
      <article class="message">
        <div class="message-header abstain">
          <span class="icon">  
            <i class="fa fa-checkbox-blank-circle-outline"></i>
          </span>
          Abstain
        </div>
        <div class="message-body">
          <span class="ai-user tag is-medium abstain">
            <span class="icon">
                <i class="fa fa-person"></i>
              </span>
            {{ user.first_name }}
          </span>
          <span class="ai-user tag is-medium abstain">
            <span class="icon">
                <i class="fa fa-person"></i>
              </span>
            {{ user.first_name }}
          </span>     
        </div>
      </article>
      <a class="button">
        Adjust Votes
      </a>
    </div>
</template>

<template id="icons-template">
  <i v-if="agendaItem.type === 'Business'" class="fa fa-briefcase" aria-hidden="true"></i>
  <i v-if="agendaItem.type === 'Document'" class="fa fa-file-document" aria-hidden="true"></i>
  <i v-if="agendaItem.type === 'Action Items'" class="fa fa-exclamation-circle-btb" aria-hidden="true"></i>
  <i v-if="agendaItem.type === 'Meeting Details'" class="fa fa-library-books" aria-hidden="true"></i>
  <i v-if="agendaItem.type === 'Motion'" class="fa fa-gavel" aria-hidden="true"></i>
  <i v-if="agendaItem.type === 'Election'" class="fa fa-checkbox-multiple-marked-outline" aria-hidden="true"></i>
</template>

<!-- <template id="agenda-menu-li-template">
  <li>{{ agendaItem.title }}</li>
</template> -->

<script>
  Vue.component('icon', {
    template: "#icons-template",
    props: ['agendaItem']
  });

  Vue.component('motion', {
    template: "#motion-type",
    props: ['agendaItem']
  }); 

  Vue.component('agenda-menu', {
    template: '#agenda-menu-template',
    props: ['agendaItems']
  });  

  Vue.component('agenda-item', {
    template: '#agenda-item-template',
    props: ['currentAgendaItem'],
    created: function() {
      this.$http.get('/api/agenda-items/' + this.currentAgendaItem.id).then(function(response){
        console.log("successfully got a single agenda item")
        this.currentAgendaItem = response.json();
      }.bind(this));
    }
  });

  Vue.component('agenda-items', {
    template: '#agenda-items-template',
    data: function() {
      return {
        agendaItems: [],
        currentAgendaItem: { id: 1 }
      }
    },
    created: function() {
      this.$http.get('/api/agenda-items').then(function(response){
        this.agendaItems = response.json();
      }.bind(this));
    }
  });

  new Vue({
    el: '#app',
  });

</script>