<!DOCTYPE html>
<html lang="en">
<head>

  <!-- rich text editor -->
  <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>

  <!-- bulma -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.1.0/css/bulma.min.css"></script>

  <!-- fort awesome -->
  <script src="https://use.fortawesome.com/967a382e.js"></script>
  <script src="https://use.fortawesome.com/ba6a5e39.js"></script>

  <!-- application.css -->
  <link rel="stylesheet" href="/stylesheets/application.css">

  <!-- jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

  <!-- application.js -->
  <script src="/javascript/application.js"></script>

  <title></title>
</head>
<body>
  <!-- vue.js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.26/vue.js"></script>
    <section class="hero is-info is-medium">
      <div class="hero-body">
        <div class="container">
          <div id="title" class="columns">
            <div class="column content">
              <h1 class="center-element">Taking Minutes Made Easy</h1>
            </div> 
          </div>
          <div id="sign-up" class="columns">
            <div class="column">
              <!-- <p class="notification is-warning">Auto</p> -->
            </div>
            <div class="column is-two-thirds">
              <div class="columns center-element">
                <div class="control is-grouped">
                  <div class="control has-icon is-expanded">

                    <input class="input" type="email" placeholder="email address"/>    
                      <i class="fa fa-email"></i>
                  </div>
                     <p class="control">
                      <a class="button" href="#">
                       <span class="icon">
                           <i class="fa fa-account-multiple"></i>
                       </span>
                       <span>Create New Team</span>
                      </a> 
                     </p>
                </div>
                
              </div>

            </div>
            <div class="column">
              <!-- <p class="notification is-warning">Auto</p> -->
            </div>
          </div>
        </div>
      </div>
    </section>
    

    <div id="1-2-3" class="columns">
      <div class="column is-1">
        <!-- <p class="notification is-info"> -->
        </p>
      </div>
      <div class="column is-10">
        <div class="columns">
          <div class="column is-one-third content">
            <h2 class="center-element">1</h2>
            <p>  
              Ea quem nihil intellegat cum, id duo mundi munere prodesset. Ex quaeque legendos sea, falli ullamcorper an eum. Per ei nisl elaboraret, ei eum tota consulatu, exerci feugait ne eos.
            </p>
          </div>
          <div class="column is-one-third content">
            <h2 class="center-element">2</h2>
            <p>
              Est no assum signiferumque, id quaestio erroribus vis. Ex mei reque pertinacia efficiendi, corpora phaedrum menandri his et.
            </p>
          </div>
          <div class="column is-one-third content">
            <h2 class="center-element">3</h2>
            <p>
              Id duo mundi munere prodesset. Ex quaeque legendos sea. Per ei nisl elaboraret, ei eum tota consulatu Ea debet facilis voluptatibus has.
            </p>
          </div>
        </div>

      </div>
      <div class="column is-1">
        <!-- <p class="notification is-info"> -->
        </p>
      </div>
    </div>
    <div id="bottom-info" class="columns">
      <div class="column is-half">
        <p class="center-element">
          <img src="http://placehold.it/350x150">
        </p>
      </div>
      <div class="column is-half">
        <p>
          Ea quem nihil intellegat cum, id duo mundi munere prodesset. Ex quaeque legendos sea, falli ullamcorper an eum. Per ei nisl elaboraret, ei eum tota consulatu, exerci feugait ne eos. Ea debet facilis voluptatibus has. <br><br>
          Ea quem nihil intellegat cum, id duo mundi munere prodesset. Ex quaeque legendos sea. Per ei nisl elaboraret, ei eum tota consulatu Ea debet facilis voluptatibus has. Est no assum signiferumque, id quaestio erroribus vis. Ex mei reque pertinacia efficiendi, corpora phaedrum menandri his et.
        </p>
      </div>
    </div>
  </div>
</body>
</html>