<!DOCTYPE html>
<html lang="en">
<head>

  <!-- rich text editor -->
  <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>

  <!-- bulma -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.1.0/css/bulma.min.css"></script>

  <!-- bootstrap -->
  <link href="assets/css/bootstrap.min.css" rel="stylesheet" />
  <link href="assets/css/material-kit.css" rel="stylesheet"/>

  <!-- fort awesome -->
  <script src="https://use.fortawesome.com/967a382e.js"></script>
  <script src="https://use.fortawesome.com/ba6a5e39.js"></script>

  <!-- application.css -->
  <link rel="stylesheet" href="/stylesheets/application.css">

  <!-- jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

  <!-- application.js -->
  <script src="/javascript/application.js"></script>

  <title></title>
</head>
<body>
  <!-- vue.js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.26/vue.js"></script>

  <section id="main-hero" class="hero is-info is-medium">
    <div class="hero-body">
      <div class="container">
        <div id="title" class="columns">
          <div class="column">
            <h1 class="title is-1 center-element" style="color: black;">Taking Minutes Made Easy</h1>
          </div> 
        </div>
        <div id="sign-up" class="columns">
          <div class="column">
            <!-- <p class="notification is-warning">Auto</p> -->
          </div>
          <div class="column is-two-thirds">
            <div class="columns center-element">
              
              <div id="sign-up-text" class="notification content">
                <h4>Sign Up</h4>
                <div class="control is-grouped">

                  <div class="control has-icon is-expanded">
                    <input class="input" type="email" placeholder="email address"/>    
                      <i class="fa fa-email"></i>
                  </div>
                     <p class="control">
                      <a class="button-index" style="background-color: #60425A" href="#">
                       <span class="icon" style="color: white">
                           <i class="fa fa-account-multiple"></i>
                       </span>
                       <span style="color: white">Create New Team</span>
                      </a> 
                     </p>
                </div>
              </div>                
            </div>

          </div>
          <div class="column">
            <!-- <p class="notification is-warning">Auto</p> -->
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="1-2-3" class="hero is-small">
    <div class="hero-body">
      <div class="container">
        <div class="columns">
          <div class="column has-text-centered">
           
            <h1 class="title is-1">1</h1>
            
            <h3 class="title">Simple</h3>
            <p class="subtitle">Simple and easy to use, provides many templates for common meetings and gives you the ability to customize your own templates.</p>
          </div>
          <div class="column has-text-centered">
            <h1 class="title is-1">2</h1>
            <h3 class="title">Efficient</h3>
            <p class="subtitle">Has many features to save you time by sharing minutes with all board members on a click of a button, easily updating information to keep your minutes up to date, and quickly accessing the history of your previous meetings.</p>
          </div>
          <div class="column has-text-centered">
            <h1 class="title is-1">3</h1>
            <h3 class="title">Free</h3>
            <p class="subtitle">Free to use, and saves you money on printing. Simply download the app and start using it! No monthly fees, no annual fees, and no hidden fees. </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="bottom-hero" class="hero is-medium">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-vcentered">
          <div class="column is-6">
            <h1 class="title is-2">
             - About Agenda Item -
            </h1>
            <div id="about-action-item">
            <h2 class="subtitle is-4">
              Agenda Item is a minutes taking app that makes your life easier by providing everything you wished for when taking notes. It's intuitive and easy to use and saves you time before, during, and after meetings with its extensive feature set. Whether you are taking minutes for the first time or 100th time this app is for you.  

            </h2>
            </div>
            <!-- <p class="control is-grouped">
              <a class="button is-large">
                Get started
              </a>
              <a class="button is-large">
                Learn more
              </a>
            </p> -->
          </div>
          <div class="column is-5 is-offset-1">
            <figure class="image is-4by3">
              <img src="https://static.pexels.com/photos/28756/pexels-photo.jpg" alt="Description">
            </figure>
          </div>
        </div>
      </div>
    </div>
  </section>

</body>
</html>