<!DOCTYPE html>
<html lang="en">
<head>

  <!-- rich text editor -->
  <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>

  <!-- bulma -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.1.0/css/bulma.min.css"></script>

  <!-- fort awesome -->
  <script src="https://use.fortawesome.com/967a382e.js"></script>
  <script src="https://use.fortawesome.com/ba6a5e39.js"></script>

  <!-- application.css -->
  <link rel="stylesheet" href="/stylesheets/application.css">

  <!-- jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

  <!-- application.js -->
  <script src="/javascript/application.js"></script>

  <title></title>
</head>
<body>
  <!-- vue.js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.26/vue.js"></script>

  <div class="container is-fluid">
  	<div id="header" class="columns">
  		<div class="column">
  			<nav class="nav">
  			  <div class="nav-left">
  			    <a class="nav-item" href="#">
  			      <img src="/images/bulma.png" alt="Bulma logo}">
  			    </a>
  			  </div>

  			  <div class="nav-center">
  			  	<a class="nav-item" href="#">
  			  	  <span class="icon">
  			  	    <i class="fa fa-view-comfy"></i>
  			  	  </span>
  			  	</a>
  			    <a class="nav-item" href="#">
  			      <span class="icon">
  			        <i class="fa fa-settings"></i>
  			      </span>
  			    </a>
  			    <a class="nav-item" href="#">
  			      <span class="icon">
  			      	<i class="fa fa-logout"></i>
  			        
  			      </span>
  			    </a>
  			  </div>
  			</nav>
  		</div>
  	</div>

  	<div id="body" class="columns">
  		<div class="column">
  			<p class="notification is-warning">Auto</p>
  		</div>
  		<div class="column is-three-quarters">
  			<p class="notification is-info">
  		  	<code class="html">is-three-quarters</code>
  		  </p>
  		</div>
  		<div class="column">
  		  <p class="notification is-warning">Auto</p>
  		</div>
  	</div>
  </div>








</body>
</html>