<!DOCTYPE html>
<html lang="en">
<head>

  <!-- rich text editor -->
  <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>

  <!-- bulma -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.1.0/css/bulma.min.css"></script>

  <!-- fort awesome -->
  <script src="https://use.fortawesome.com/ba6a5e39.js"></script>

  <!-- application.css -->
  <link rel="stylesheet" href="/stylesheets/application.css">

  <!-- jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

  <!-- application.js -->
  <script src="/javascript/application.js"></script>

  <!-- plugin to download pdf -->
  <script src="/javascript/xepOnline.jqPlugin.js"></script>

  <title></title>
</head>
<body>

    <nav class="nav" id="nav">
      <div class=container>
        <div class="nav-left">
          <a class="nav-item" href="/" title="Home">
            <img src="/assets/logo-sm.jpg" alt="logo">
          </a>
        </div>

          <% if current_user %>
          <div class="nav-item login-info">
            <%= current_user.first_name %>,
            <%= current_user.organization.name %>
          </div>

        <div class="nav-center">
          <a class="nav-item" href="/meetings" title= "Show All Meetings">
            <span class="icon">
              <i class="fa fa-view-comfy"></i>
            </span>
          </a>
            
          <a class="nav-item" title="Add New Meeting" type="submit" @click.prevent="newMeeting">
            <span class="icon">
              <i class="fa fa-add-to-photos"></i>
            </span>
          </a>

            <a class="nav-item" href="/logout"><span class="icon"><i class="fa fa-logout"></i></span></a>

        </div> 
          <% else %>
          <div class="nav-item">
            <button type="button" class="button-index"><a class="log-button" href="/login">Log In</a></button>
          </div>
         <% end %>           

 

      </div>
    </nav>

  <!-- vue.js — must load before the page-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.26/vue.js"></script>
    <!-- vue.js resource plugin -->
    <script src="https://cdn.jsdelivr.net/vue.resource/0.9.3/vue-resource.min.js"></script>
    <!-- date formating plugin for Vue.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.12.0/moment.min.js"></script>
    <script src="/javascript/vue-moment.min.js"></script>
    <%= erb(:"templates/agenda_items/helpers") %>
  <%= yield %>
</body>
</html>
