<!DOCTYPE html>
<html lang="en">
<head>

  <!-- rich text editor -->
  <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>

  <!-- bulma -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.1.0/css/bulma.min.css"></script>

  <!-- fort awesome -->
  <script src="https://use.fortawesome.com/967a382e.js"></script>

  <!-- application.css -->
  <link rel="stylesheet" href="/stylesheets/application.css">

  <!-- jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

  <!-- application.js -->
  <script src="/javascript/application.js"></script>

  <title></title>
</head>
<body>
  <!-- vue.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.26/vue.js"></script>
    <!-- vue.js resource plugin -->
    <script src="https://cdn.jsdelivr.net/vue.resource/0.9.3/vue-resource.min.js"></script>
  <%= yield %>
</body>
</html>
