<!DOCTYPE html>
<html lang="en">
<head>

  <!-- rich text editor -->
  <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>

  <!-- bulma -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.1.0/css/bulma.min.css"></script>

  <!-- fort awesome -->
  <script src="https://use.fortawesome.com/ba6a5e39.js"></script>


  <!-- application.css -->
  <link rel="stylesheet" href="/stylesheets/application.css">

  <!-- jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

  <!-- application.js -->
  <script src="/javascript/application.js"></script>

  <title></title>
</head>
<body>

    <nav class="nav">
      <div class=container>
        <div class="nav-left">
          <a class="nav-item" href="#">
            <img src="https://s-media-cache-ak0.pinimg.com/originals/66/e8/80/66e88052770643ccddd2b895872a40f4.jpg" alt="logo}">
          </a>
        </div>

        <div class="nav-center">
          <a class="nav-item" href="#">
            <span class="icon">
              <i class="fa fa-view-comfy"></i>
            </span>
          </a>
          <a class="nav-item" href="#">
            <span class="icon">
              <i class="fa fa-settings"></i>
            </span>
          </a>
          <a class="nav-item" href="#">
            <span class="icon">
              <i class="fa fa-logout"></i>
              
            </span>
          </a>
        </div>
      </div>
    </nav>

  <!-- vue.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.26/vue.js"></script>
    <!-- vue.js resource plugin -->
    <script src="https://cdn.jsdelivr.net/vue.resource/0.9.3/vue-resource.min.js"></script>
    <!-- date formating plugin for Vue.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.12.0/moment.min.js"></script>
    <script src="/javascript/vue-moment.min.js"></script>
  <%= yield %>
</body>
</html>
