<div id="meeting-list">
  <meetings-header></meetings-header>
</div>

<template id="meetings-header-template">
  <h1 class="title is-1">List of Meetings</h1>
  <div class="container box" v-for="meetingDetail in meetingDetails">
    <div class="list_titles">
      <span>Date</span>             <!-- not sure if these are needed but nice to label our colums -->
      <span>Meeting Title</span>
    </div>
    <button><a href="#">info</a></button>
    {{ meetingDetail.meeting_date | moment "dddd, MMMM Do YYYY, h:mm a"}}
    <a href="#">{{meetingDetail.title}}</a>
    <i class="fa fa-trash pull-right" aria-hidden="true" @click="deleteMeeting"></i>
    </form>
    <a href="#"> <i class="fa fa-trash"></i></a>
    <button>{{ meetingDetail.status }}</button>
    <hr>
  </div>
</template>

<script>

  Vue.component('meetings-header', {
    template: '#meetings-header-template',
    data: function() {
      return {
        meetingDetails: []
      }
    },
    created: function() {
      this.$http.get('/api/meetings').then(function(response){
        this.meetingDetails = response.json();
      }.bind(this));
    },
    deleteMeeting: function() {
      var meetingId = this.meeting.id,
      this.$http.get('/api/meetings/' + meetingId + '/delete', {'id': meetingId}, {emulateJSON:true}).then(function(response) {
        this.$dispatch('meeting-deleted', this.meetingItem)
      }).error(function(error) {
        console.log(error);
      }.bind(this));
    }
  });


  new Vue({
      el: '#meeting-list'
    });
</script>
