<div id="meeting-list">
  <meetings-header></meetings-header>
</div>

<template id="meetings-header-template">
  <h1 class="title is-1">List of Meetings</h1>
  <div class="container box" v-for="meetingDetail in meetingDetails">
    <div class="list_titles">
      <span>Date</span>             <!-- not sure if these are needed but nice to label our colums -->
      <span>Meeting Title</span>
    </div>
    <button><a href="#">info</a></button>
    {{ meetingDetail.meeting_date | moment "dddd, MMMM Do YYYY, h:mm a"}}
    <a href="#">{{meetingDetail.title}}</a>
    <form action="/api/meetings/<%= @meeting.id %>/delete" method="post">
      <input type="hidden" name="meeting_id" value="<%= meeting.id %>" />
      <input type="hidden" name="_method" value="delete" />
      <button>Delete Review</button>
    </form>
    <a href="#"> <i class="fa fa-trash"></i></a>
    <button>{{ meetingDetail.status }}</button>
    <hr>
  </div>
</template>

<script>

  Vue.component('meetings-header', {
    template: '#meetings-header-template',
    data: function() {
      return {
        meetingDetails: []
      }
    },
    created: function() {
      this.$http.get('/api/meetings').then(function(response){
        this.meetingDetails = response.json();
      }.bind(this));
    }
  });

  new Vue({
      el: '#meeting-list'
    });
</script>
