<section id="login-bg-img" class="is-fullheight" style="min-height: 100vh">
  <div class="columns">
    <div class="column is-one-quarter">
        <!-- <p class="notification is-warning">Auto</p> -->
    </div>
    <div class="column is-half">

      <div class="login-form">
      <form method="POST" action="/organizations/details">
        <div class="style-element section">
          <h4>Log In</h4>
          <label class="label">Email</label>
          <div class="control has-icon">
            <input class="input" type="text" placeholder="Email" name="email" required>
              <i class="fa fa-email"></i>
          </div>
          <label class="label">Password</label>
          <div class="control has-icon">
            <input class="input" type="password" placeholder="Password" name="password" required>
            <i class="fa fa-lock"></i>
          </div>
          <!-- <div class="control"> -->
          <button type="submit" class="button has-icon continue-button">
            Continue <i class="fa fa-arrow-right"></i></a></a>
          </button>
          <!-- </div> -->
        </div>
      </form>
      </div>

    </div>

    <div class="column is-one-quarter">
        <!-- <p class="notification is-danger">Auto</p> -->
    </div>

    <div class="column">
      <!-- <p class="notification is-warning">Auto</p> -->
    </div>
</section>
