
<div id="app">
  <meetings-header></meetings-header>
  <agenda-items></agenda-items>
  <meetings-footer></meetings-footer>
</div>

<template id="meetings-header-template">
  <div class="container box" v-for="meetingDetail in meetingDetails">
    <h1 class="title is-1">{{meetingDetail.title}}</h1>
    <p><strong>Minutes Status:</strong> {{ meetingDetail.status }}</p>
    <hr>
    <p>{{ meetingDetail.description }}</p>
    <strong>Meeting Date:</strong> {{ meetingDetail.meeting_date }}<br/>
    <strong>Meeting Location:</strong> {{ meetingDetail.location }}<br/>
    <strong>Discussion:</strong> {{ meetingDetail.discussion }}<br/>
    <br/>
    
    <strong>Meeting Chair ID:</strong> {{ meetingDetail.chair_id }}<br/>
    <strong>Meeting Organization ID:</strong> {{ meetingDetail.org_id }}<br/>
    <strong>Meeting Template:</strong> {{ meetingDetail.template_id }}<br/>
    <hr>
  </div>
</template>

<template id="agenda-items-template">
  <div class="container box"> 
    <div v-for="agendaItem in agendaItems">
      <div v-if="agendaItem.meeting_id"><strong>Meeting ID:</strong> {{agendaItem.meeting_id}}<br/></div>
      <h1 class="subtitle is-5" v-if="agendaItem.title"><i class="fa fa-hand-spock-o" aria-hidden="true"></i> {{agendaItem.title}}</h1>
      <div v-if="agendaItem.discussion"><strong>Discussion:</strong> {{agendaItem.discussion}}<br/></div>
      <div v-if="agendaItem.file_path"><strong>File Path:</strong> {{agendaItem.file_path}}<br/></div>
      <div v-if="agendaItem.mover"><strong>Mover:</strong> {{agendaItem.mover}}<br/></div>
      <div v-if="agendaItem.seconder"><strong>Seconder:</strong> {{agendaItem.seconder}}<br/></div>
      <div v-if="agendaItem.due_date"><strong>Due Date:</strong> {{agendaItem.due_date}}<br/></div>
      <div v-if="agendaItem.status"><strong>Status:</strong> {{agendaItem.status}}<br/></div>
      <div v-if="agendaItem.position"><strong>Position:</strong> {{agendaItem.position}}<br/></div>
      <div v-if="agendaItem.creator"><strong>Creator:</strong> {{agendaItem.creator}}<br/></div>
      <hr>
    </div>
    <div v-for="vote in votes">
      <div  v-text="vote | inFavour"><p>Vote: {{vote.voting_user_id}}</p></div>

    </div>
  </div>
</template>

<template id="meetings-footer-template">
  <div class="box container" v-for="meetingFooterDetail in meetingFooterDetails">
    <hr>
    <strong>Meeting Adjournment Time:</strong> {{ meetingFooterDetail.adjournment_time }}<br/>
    <strong>Next Meeting:</strong> {{ meetingFooterDetail.next_meeting_date }}<br/>
  </div>
</template>

<script>

  Vue.filter('inFavour', function (vote) {
    if (vote.vote_type === "In Favour") {
      return vote.voting_user_id
    }
  });

  Vue.component('meetings-header', {
    template: '#meetings-header-template',
    data: function() {
      return {
        meetingDetails: []
      }
    },
    created: function() {
      this.$http.get('/api/meetings').then(function(response){
        this.meetingDetails = response.json();
      }.bind(this));
    }
  });

  Vue.component('agenda-items', {
    template: '#agenda-items-template',
    data: function() {
      return {
        agendaItems: [],
        votes: []
      }
    },
    created: function() {
      this.$http.get('/api/agenda-items').then(function(response){
        this.agendaItems = response.json();
      }.bind(this));

      this.$http.get('/api/votes').then(function(response){
        this.votes = response.json();
      }.bind(this));
    }
  });

  Vue.component('meetings-footer', {
    template: '#meetings-footer-template',
    data: function() {
      return {
        meetingFooterDetails: []
      }
    },
    created: function() {
      this.$http.get('/api/meetings').then(function(response){
        this.meetingFooterDetails = response.json();
      }.bind(this));
    }
  });


  new Vue({
      el: '#app'
    });
</script>