<%= erb(:"templates/agenda_items/helpers") %>

<div id="app" class="container">
  <meetings-header></meetings-header>
  <agenda-items></agenda-items>
  <meetings-footer></meetings-footer>
</div>

<template id="meetings-header-template">
  <div class="columns">
    <div class="column is-2">
      <aside class="menu">
      </aside>
    </div>
      <div class="column">
        <div id='header' class="container box" v-for="meetingDetail in meetingDetails">
          <h1 class="title is-2">{{meetingDetail.title}}</h1>
          
          <p><strong>Minutes Status:</strong> {{ meetingDetail.status }}</p>
          <hr>
          <p>{{ meetingDetail.description }}</p>
          <strong>Meeting Date:</strong>
          {{ meetingDetail.meeting_date | moment "dddd, MMMM Do YYYY, h:mm a"}}<br/>
          <strong>Meeting Location:</strong> {{ meetingDetail.location }}<br/>
          <strong>Discussion:</strong> {{ meetingDetail.discussion }}<br/>
          <hr>
        </div>
           
      </div>
    <div class="column is-2">
      <!-- <div class="box"> -->
      <div class="pdf-button">
      <a href="#" class="button is-info is-normal" onclick="return xepOnline.Formatter.Format(['header','agenda-item','footer'],
          {pageWidth:'216mm', pageHeight:'279mm', render:'download'});">
        <i class="fa fa-2x fa-download"></i>
      </a>
      </div>
      <!-- </div> -->
    </div>
  </div>
</template>

  <template id="agenda-items-template">
    <div class="columns">
      <div class="column is-2">
      </div>
        <div class="column">
          <div id='agenda-item' class="container box">
            <div v-for="agendaItem in agendaItems | orderBy 'position'">
              <h1 class="subtitle is-5" v-if="agendaItem.title"><icon :agenda-item="agendaItem"></icon> {{agendaItem.title}}</h1>
              <div v-if="agendaItem.discussion"><strong>Discussion:</strong> {{agendaItem.discussion}}<br/></div>
              <div v-if="agendaItem.file_path"><strong>File Path:</strong> {{agendaItem.file_path}}<br/></div>
              <div v-if="agendaItem.mover" ><strong>Mover:</strong> {{agendaItem.mover.first_name}}<br/></div>
              <div v-if="agendaItem.seconder"><strong>Seconder:</strong> {{agendaItem.seconder.first_name}}<br/></div>
              <div v-if="agendaItem.due_date"><strong>Due Date:</strong> {{agendaItem.due_date | moment "dddd, MMMM Do YYYY, h:mm a" }}<br/></div>
              <div v-if="agendaItem.status"><strong>Status:</strong> {{agendaItem.status}}<br/></div>
              <!-- <div v-for="vote in agendaItems.votes">{{vote.voting_user.first_name}}</div> -->

              <!-- <list-users :agenda-item="agendaItem"></list-users> -->
              <hr>
            </div>
          </div>
        </div>
      <div class="column is-2">
      </div>
    </div>
  </template>

  <template id="list-users-template">
    <div v-if="agendaItem.status != 'Active'">
      <div class="message-header">
        In Favour
      </div>
      <div class="message-body">
        <div v-for="vote in allVotes | filterBy 'In Favour' in 'vote_type'">
          <div class="ai-user"><i class="fa fa-checkbox-marked-circle-outline fa-lg" aria-hidden="true">{{ vote.voting_user.first_name }}</i></div>
        </div>
      </div>
      <div class="message-header">
        Opposed
      </div>
      <div class="message-body">
        <div v-for="vote in allVotes | filterBy 'Opposed' in 'vote_type'">
          <div class="ai-user"><i class="fa fa-close-circle-outline fa-lg" aria-hidden="true">{{vote.voting_user.first_name}}</i></div>
        </div>
      </div>
      <div class="message-header">
        Abstained
      </div>
      <div class="message-body">
        <div v-for="vote in allVotes | filterBy 'Abstain' in 'vote_type'">
          <div class="ai-user"><i class="fa fa-checkbox-blank-circle-outline fa-lg" aria-hidden="true">{{vote.voting_user.first_name}}</i></div>
        </div>
      </div>
    </div>
  </template>

  <template id="meetings-footer-template">
    <div class="columns">
      <div class="column is-2">
        </div>
          <div class="column">
            <div id='footer' class="box container" v-for="meetingFooterDetail in meetingFooterDetails">
              <hr>
              <strong>Meeting Adjournment Time:</strong> {{ meetingFooterDetail.adjournment_time  | moment "dddd, MMMM Do YYYY, h:mm a"}}<br/>
              <strong>Next Meeting:</strong> {{ meetingFooterDetail.next_meeting_date  | moment "dddd, MMMM Do YYYY, h:mm a" }}<br/>
            </div>
          </div>
        <div class="column is-2">
      </div>
    </div>
  </template>

<script>

  Vue.component('meetings-header', {
    template: '#meetings-header-template',
    data: function() {
      return {
        meetingDetails: []
      }
    },
    created: function() {
      this.$http.get('/api/meetings').then(function(response){
        this.meetingDetails = response.json();
      }.bind(this));
    }
  });

  Vue.component('list-users', {
    template: '#list-users-template',
    props: ['agendaItem'],
    computed: {
      allVotes: function () {
        // takes in agenda item & vote type
        // gets all the votes related to the agenda item
        // filters them by vote type
        return this.agendaItem.votes
        }
    }
  });

  Vue.component('agenda-items', {
    template: '#agenda-items-template',
    data: function() {
      return {
        agendaItems: []
      }
    },
    created: function() {
      this.$http.get('/api/agenda-items').then(function(response){
        this.agendaItems = response.json();
      }.bind(this));
    },
    methods: {
      postData: function() {
        this.$http.post('/api/agenda-items/1', this.agendaItem.discussion).then(function(response) {
        }).error(function(error) {
          console.log(error);
        }.bind(this));
      }
    },
  });

  Vue.component('meetings-footer', {
    template: '#meetings-footer-template',
    data: function() {
      return {
        meetingFooterDetails: []
      }
    },
    created: function() {
      this.$http.get('/api/meetings').then(function(response){
        this.meetingFooterDetails = response.json();
      }.bind(this));
    }
  });


  new Vue({
      el: '#app'
    });
</script>
