<div id="app">
  <meetings-header></meetings-header>
  <agenda-items>
  </agenda-items>
  <meetings-footer></meetings-footer>
</div>

<template id="meetings-header-template">
  <div class="container box" v-for="meetingDetail in meetingDetails">
    <h1 class="title is-1">{{meetingDetail.title}}</h1>
    <p><strong>Minutes Status:</strong> {{ meetingDetail.status }}</p>
    <hr>
    <p>{{ meetingDetail.description }}</p>
    <strong>Meeting Date:</strong> 
    {{ meetingDetail.meeting_date | moment "dddd, MMMM Do YYYY, h:mm a"}}<br/>
    <strong>Meeting Location:</strong> {{ meetingDetail.location }}<br/>
    <strong>Discussion:</strong> {{ meetingDetail.discussion }}<br/>
    <br/>
    <strong>Meeting Chair ID:</strong> {{ meetingDetail.chair_id }}<br/>
    <strong>Meeting Organization ID:</strong> {{ meetingDetail.org_id }}<br/>
    <strong>Meeting Template:</strong> {{ meetingDetail.template_id }}<br/>
    <hr>
  </div>
</template>

<template id="agenda-items-template">
  <div class="container box"> 
    <div v-for="agendaItem in agendaItems | orderBy 'position'">
      <h1 class="subtitle is-5" v-if="agendaItem.title"><i class="fa fa-hand-spock-o" aria-hidden="true"></i> {{agendaItem.title}}</h1>
      <div v-if="agendaItem.discussion"><strong>Discussion:</strong> {{agendaItem.discussion}}<br/></div>
      <div v-if="agendaItem.file_path"><strong>File Path:</strong> {{agendaItem.file_path}}<br/></div>
      <div v-if="agendaItem.mover" ><strong>Mover:</strong> {{agendaItem.mover}}<br/></div>
      <div v-if="agendaItem.seconder"><strong>Seconder:</strong> {{agendaItem.seconder}}<br/></div>
      <div v-if="agendaItem.due_date"><strong>Due Date:</strong> {{agendaItem.due_date | moment "dddd, MMMM Do YYYY, h:mm a" }}<br/></div>
      <div v-if="agendaItem.status"><strong>Status:</strong> {{agendaItem.status}}<br/></div>
      <div v-if="agendaItem.position"><strong>Position:</strong> {{agendaItem.position}}<br/></div>
      <div v-if="agendaItem.creator"><strong>Creator:</strong> {{agendaItem.creator}}<br/></div>
      <div v-for="vote in agendaItems.votes">{{vote.voting_user.first_name}}</div>
      
      <list-users :agenda-item="agendaItem"></list-users>
      <hr>
    </div>
    
  </div>
</template>

<template id="list-users-template">
  <div v-if="agendaItem.status != 'Active'">
    <div class="message-header">
      In Favour
    </div>
    <div class="message-body">
      <div v-for="vote in allVotes | filterBy 'In Favour' in 'vote_type'">
        <div class="ai-user"><i class="fa fa-checkbox-marked-circle-outline fa-lg" aria-hidden="true">{{ vote.voting_user.first_name }}</i></div>
      </div>
    </div>
    <div class="message-header">
      Opposed
    </div>
    <div class="message-body">
      <div v-for="vote in allVotes | filterBy 'Opposed' in 'vote_type'">
          <div class="ai-user"><i class="fa fa-close-circle-outline fa-lg" aria-hidden="true">{{vote.voting_user.first_name}}</i></div>
      </div>
    </div>
    <div class="message-header">
      Abstained
    </div>
    <div class="message-body">
      <div v-for="vote in allVotes | filterBy 'Abstain' in 'vote_type'">
          <div class="ai-user"><i class="fa fa-checkbox-blank-circle-outline fa-lg" aria-hidden="true">{{vote.voting_user.first_name}}</i></div>
      </div>
    </div>
  </div>
</template>

<template id="meetings-footer-template">
  <div class="box container" v-for="meetingFooterDetail in meetingFooterDetails">
    <hr>
    <strong>Meeting Adjournment Time:</strong> {{ meetingFooterDetail.adjournment_time }}<br/>
    <strong>Next Meeting:</strong> {{ meetingFooterDetail.next_meeting_date }}<br/>
  </div>
</template>
<script src="javascript/application.js"></script>
