<div class="style-element section ai-details">
  <div class="box">
    <h2 class="subtitle is-3">Meeting Details</h2>
    <div class="style-element section">
      <a class="button">
        Send
      </a>
      <a class="button">
        Status
      </a>
    </div>
    <div class="ai-location">
      <div class="control">
        <label class="label">Location</label>
        <input class="input" type="text" placeholder="{{ @agm.title }}">
      </div>
    </div>
    <div class="ai-date-time">
      <div class="control">
        <label class="label">Date & Time</label>
        <input class="input" type="text" placeholder="{{ @agm.meeting_date }}">
      </div>
    </div>
    <div class="ai-description">
      <label class="label">Description</label>
      <div class="control">
        <textarea class="textarea" placeholder="{{ @agm.description }}"></textarea>
      </div>
    </div>
    <div class="ai-responsible">
      <label class="label">Chair of Meeting</label>
      <input class="input" type="text" placeholder="{{ @agm.chair.first_name + " " + @agm.chair.last_name }}">
    </div>
    <div class="ai-attendees">
      <label class="label">Attendees</label>
      <p>** if not logged</p>
      <a class="button">
        Log Attendees
      </a>
      <br/><br/>
      <p>** if logged</p>
      <article class="message">
        <div class="message-header">
          Present
        </div>
        <div class="message-body">
          <div class="ai-user"><i class="fa fa-person" aria-hidden="true">{{ @bob.first_name }}</i></div>
          <div class="ai-user"><i class="fa fa-person" aria-hidden="true">{{ @sylvia.first_name }}</i></div>
          <div class="ai-user"><i class="fa fa-person" aria-hidden="true">{{ @jason.first_name }}</i></div>
          <div class="ai-user"><i class="fa fa-person" aria-hidden="true">{{ @milly.first_name }}</i></div>
          <div class="ai-user"><i class="fa fa-person" aria-hidden="true">{{ user.first_name }}</i></div>
          <div class="ai-user"><i class="fa fa-person" aria-hidden="true">{{ user.first_name }}</i></div>
          <div class="ai-user"><i class="fa fa-person" aria-hidden="true">{{ user.first_name }}</i></div>
        </div>
      </article>
      <article class="message">
        <div class="message-header">
          Absent
        </div>
        <div class="message-body">
          <div class="ai-user"><i class="fa fa-person" aria-hidden="true">{{ user.first_name }}</i></div>
          <div class="ai-user"><i class="fa fa-person" aria-hidden="true">{{ user.first_name }}</i></div>
        </div>
      </article>
      <a class="button">
        Adjust Attendees
      </a>
    </div>
    <div class="ai-minutes">
      <label class="label">Discussion</label>
      <div class="control">
        <textarea class="textarea" placeholder="{{ @agm.discussion }}"></textarea>
      </div>
    </div>
  </div>
  <div class="style-element section">
    <aside class="menu">
      <p class="menu-label">
        Agenda Items
      </p>
      <ul class="menu-list">
        <li><a href="#"> [+] Business</a></li>
        <li><a href="#"> [+] Action Item</a></li>
        <li><a href="#"> [+] Motion</a></li>
        <li><a href="#"> [+] Election</a></li>
        <li><a href="#"> [+] Document</a></li>
      </ul>
    </aside>
  </div>
</div>
