<section class="section" style="padding: 10px">
  <div class="container">

    <div class="style-element section ai-motion">
      <div class="box">
        <h2 class="subtitle is-3">Motion</h2>
        <div class="ai-title">
          <div class="control">

            <label class="label">Title</label>
            <input class="input" type="text" placeholder="{{ @motion.title }}">
          </div>
        </div>
        <div class="ai-description">
          <label class="label">Motion</label>
          <div class="control">
            <textarea class="textarea" placeholder="{{ @motion.description }}"></textarea>
          </div>
        </div>
        <div class="ai-responsible">
          <label class="label">Mover</label>
          <input class="input" type="text" placeholder="{{ @motion.mover.first_name }}">
        </div>
        <div class="ai-responsible">
          <label class="label">Seconder</label>
          <input class="input" type="text" placeholder="{{ @motion.seconder.first_name }}">
        </div>
        <div class="ai-vote">
          <p>** if not logged</p>
          <a class="button">
            Log Votes
          </a>
          <p>** if logged</p>
          <article class="message">
              <div class="message-header in-favour" >
                In Favour
              </div>
              <div class="message-body">


                <span class="ai-user tag is-medium">
                  <span class="icon">
                      <i class="fa fa-person"></i>
                    </span>
                  {{ user.first_name }}
                </span>
                
                <span class="ai-user tag is-medium">
                  <span class="icon">
                      <i class="fa fa-person"></i>
                    </span>
                  {{ user.first_name }}
                </span>
                
                <span class="ai-user tag is-medium">
                  <span class="icon">
                      <i class="fa fa-person"></i>
                    </span>
                  {{ user.first_name }}
                </span>
                
                <span class="ai-user tag is-medium">
                  <span class="icon">
                      <i class="fa fa-person"></i>
                    </span>
                  {{ user.first_name }}
                </span>
                
                <span class="ai-user tag is-medium">
                  <span class="icon">
                      <i class="fa fa-person"></i>
                    </span>
                  {{ user.first_name }}
                </span>
                
                <span class="ai-user tag is-medium">
                  <span class="icon">
                      <i class="fa fa-person"></i>
                    </span>
                  {{ user.first_name }}
                </span>
      
              </div>
            </article>
            <article class="message">
              <div class="message-header opposed">
                Opposed
              </div>
              <div class="message-body">
               <span class="ai-user tag is-medium">
                 <span class="icon">
                     <i class="fa fa-person"></i>
                   </span>
                 {{ user.first_name }}
               </span><span class="ai-user tag is-medium">
                  <span class="icon">
                      <i class="fa fa-person"></i>
                    </span>
                  {{ user.first_name }}
                </span><span class="ai-user tag is-medium">
                  <span class="icon">
                      <i class="fa fa-person"></i>
                    </span>
                  {{ user.first_name }}
                </span>
              </div>
            </article>
            <article class="message">
              <div class="message-header abstain">
                Abstain
              </div>
              <div class="message-body">
                <span class="ai-user tag is-medium">
                  <span class="icon">
                      <i class="fa fa-person"></i>
                    </span>
                  {{ user.first_name }}
                </span>
                <span class="ai-user tag is-medium">
                  <span class="icon">
                      <i class="fa fa-person"></i>
                    </span>
                  {{ user.first_name }}
                </span>     
              </div>
            </article>
            <a class="button">
              Adjust Votes
            </a>
          </div>
        <div class="ai-minutes">
          <label class="label">Discussion</label>
          <div class="control">
            <textarea class="textarea" placeholder="{{ @motion.discussion }}"></textarea>
          </div>
        </div>
      </div>
      <div class="style-element section">
        <aside class="menu">
          <p class="menu-label">
            Agenda Items
          </p>
          <ul class="menu-list">
            <li><a href="#"> [+] Business</a></li>
            <li><a href="#"> [+] Action Item</a></li>
            <li><a href="#"> [+] Motion</a></li>
            <li><a href="#"> [+] Election</a></li>
            <li><a href="#"> [+] Document</a></li>
          </ul>
        </aside>
      </div>
    </div>
  </div>
</div>
