<div id="app">
    <agenda-item :agenda-item="agendaItem" :selected="selected" :options="options"></agenda-item>
</div>

<template id="agenda-item-template" >
 <form @submit.prevent="postData">
    <label>Title:</label>
    <br>
    <textarea id="title" v-model="agendaItem.title" name="title"></textarea>
    <br>
    <label>Description:</label>
    <br>
    <textarea id="description" v-model="agendaItem.description"  name="description"></textarea>
    <br>
    <label>Discussion:</label>
    <br>
    <textarea id="discussion" v-model="agendaItem.discussion" name="discussion"></textarea>
    <br>
    <label>Status:</label>
    <br>
    <textarea id="status" v-model="agendaItem.status" name="status"></textarea>
    <br>
    <select v-model="agendaItem.status">
      <option v-for="option in options" v-bind:value="option.value">
        {{ option.text }}
      </option>
    </select>
    <br>
    <button type="submit">submit</button>
  </form>
</template>
<script src="javascript/application.js"></script>