<div class="style-element section">
  <aside class="menu">
    <p class="menu-label">
      Agenda Items
    </p>
    <ul class="menu-list">
      <li><a href="#"> [+] Business</a></li>
      <li><a href="#"> [+] Action Item</a></li>
      <li><a href="#"> [+] Motion</a></li>
      <li><a href="#"> [+] Election</a></li>
      <li><a href="#"> [+] Document</a></li>
    </ul>
  </aside>
</div>
