
  			<div class="columns">
  				<div class="column is-one-quarter">
  				    <!-- <p class="notification is-warning">Auto</p> -->
  				</div>
  				<div class="column is-half">
					  <div class="signup-form">
						  <div class="style-element section">
						    <p>SIGN UP</p>
                <label class="label">Organization Name</label>
                <p class="control has-icon">
                  <input class="input" type="text" placeholder="Organization Name">
                  <i class="fa fa-library"></i>
                </p>
						    <label class="label">First Name</label>
						    <p class="control has-icon">
						      <input class="input" type="text" placeholder="First Name">
						      <i class="fa fa-person"></i>
						    </p>
						    <label class="label">Last Name</label>
						    <p class="control has-icon">
						      <input class="input" type="text" placeholder="Last Name">
						      	<i class="fa fa-person"></i>
						    </p>
						    <label class="label">Password</label>
						    <p class="control has-icon">
						      <input class="input" type="password" placeholder="Password">
						      <i class="fa fa-lock"></i>
						    </p>
						    </p>
						    <p class="control">
						      <a class="button">Continue</a>
						    </p>
						  </div>
						</div>
  				</div>

  				<div class="column is-one-quarter">
  				    <!-- <p class="notification is-danger">Auto</p> -->
  				</div>
  			</div>

  		</div>

  		<div class="column">
  		  <!-- <p class="notification is-warning">Auto</p> -->
  		</div>
  	</div>
  </div>
</section>
</body>
</html>