<section id="signup-bg-img" class="is-fullheight" style="min-height: 100vh">
	<div class="columns">
		<div class="column is-one-quarter">
		    <!-- <p class="notification is-warning">Auto</p> -->
		</div>
		<div class="column is-half">

		  <div class="signup-form">
		  <form method="POST" action="/organizations/details">
			  <div class="style-element section">
			    <p>SIGN UP</p>
          <label class="label">Organization Name</label>
          <p class="control has-icon">
            <input class="input" type="text" placeholder="Organization Name" name="organization_name">
            <i class="fa fa-library"></i>
          </p>
			    <label class="label">First Name</label>
			    <p class="control has-icon">
			      <input class="input" type="text" placeholder="First Name">
			      <i class="fa fa-person"></i>
			    </p>
			    <label class="label">Last Name</label>
			    <p class="control has-icon">
			      <input class="input" type="text" placeholder="Last Name">
			      	<i class="fa fa-person"></i>
			    </p>
			    <label class="label">Password</label>
			    <p class="control has-icon">
			      <input class="input" type="password" placeholder="Password">
			      <i class="fa fa-lock"></i>
			    </p>
			    <p class="control continue-button">
			    <button type="submit">
			      <a class="button has-icon">Continue <i class="fa fa-arrow-right"></i></a></a>
			    </button>
			    </p>
			  </div>
			</form>
			</div>

		</div>

		<div class="column is-one-quarter">
		    <!-- <p class="notification is-danger">Auto</p> -->
		</div>

		<div class="column">
		  <!-- <p class="notification is-warning">Auto</p> -->
		</div>
</section>
