<!DOCTYPE html>
<html lang="en">
<head>

  <!-- rich text editor -->
  <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>

  <!-- bulma -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.1.0/css/bulma.min.css"></script>

  <!-- fort awesome -->
  <script src="https://use.fortawesome.com/967a382e.js"></script>
  <script src="https://use.fortawesome.com/ba6a5e39.js"></script>

  <!-- application.css -->
  <link rel="stylesheet" href="/stylesheets/application.css">

  <!-- jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

  <!-- application.js -->
  <script src="/javascript/application.js"></script>

  <title></title>
</head>
<body>
  <!-- vue.js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.26/vue.js"></script>
<!-- navbar will become a header template -->
<!-- navbar starts here -->
  <div class="container is-fluid">
  
<!-- navbar ends here -->

  	<div id="body" class="columns">
  		<div class="column">
  			<!-- <p class="notification is-warning">Auto</p> -->
  		</div>

  		<div class="column is-three-quarters">
  			<div class="columns">
  				<div class="column">
  				    <!-- <p class="notification is-warning">Auto</p> -->
  				</div>

  				<div class="column is-half">
					  <div class="signup-form">
						  <div class="style-element section">
						    <p>SIGN UP</p>
						    <label class="label">First Name</label>
						    <p class="control has-icon">
						      <input class="input" type="text" placeholder="First Name">
						      <i class="fa fa-person"></i>
						    </p>
						    <label class="label">Last Name</label>
						    <p class="control has-icon">
						      <input class="input" type="text" placeholder="Last Name">
						      
						      	<i class="fa fa-person"></i>
						    </p>
						    <label class="label">Password</label>
						    <p class="control has-icon">
						      <input class="input" type="password" placeholder="Password">
						      <i class="fa fa-lock"></i>
						    </p>
						    </p>
						    <p class="control">
						      <button class="button is-primary">Continue</button>
						    </p>
						  </div>
						</div>
  				</div>

  				<div class="column">
  				    <!-- <p class="notification is-danger">Auto</p> -->
  				</div>
  			</div>

  		</div>

  		<div class="column">
  		  <!-- <p class="notification is-warning">Auto</p> -->
  		</div>
  	</div>
  </div>

</body>
</html>