 <style>
  .style-element {
    border: 1px dotted grey;
    padding: 20px;
    margin: 7px 0;
    background: #ccc;
  }

  .ai-user > div > i {
    border: 1px solid grey;
    border-radius: 15px;
    margin: 10px 5px;
    padding: 10px;
    background: white;
  }

  .ai-count > i, .ai-symbol > i {
    border: 1px solid grey;
    border-radius: 15px;
    padding: 12px;
    margin: 5px 0;
    background: white;
  }
 </style>


<div class="container">
* custom elements * <br/>
  <div class="style-element ai-template">
    minutes template<br/>
    <div class="card has-text-centered">
      
      <div class="card-content">
        <div class="content">
          <h2 class="title is-1">{{meetings. title}}</h2>
          <i class="fa fa-hand-spock-o fa-2x" aria-hidden="true"></i>
          <h2 class="subtitle is-6">{{ meetings.meeting_date }}</h2>
          {{ meetings.description }} Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Phasellus nec iaculis mauris. 
        </div>
      </div>
    </div>
  </div>
    
  <div class="style-element ai-user">
    user<br/>
    <div><i class="fa fa-hand-spock-o aria-hidden="true">{{ user.first_name user.last_name }}</i></div>
  </div>  

  <div class="style-element ai-motion">
    agenda item: motion<br/>
  </div>

  <div class="style-element ai-business">
    agenda item: business<br/>
  </div>

  <div class="style-element ai-details">
    agenda item: meeting details<br/>
  </div>
  
  <div class="style-element ai-document">
    agenda item: document<br/>
  </div> 

  <div class="style-element ai-election">
    agenda item: election<br/>
  </div>

  <div class="style-element ai-navbar">
    navbar<br/>
    <nav class="nav">
      <div class="nav-left">
        <a class="nav-item" href="#">
          <img src="/images/bulma.png" alt="Bulma logo}">
        </a>
      </div>

      <div class="nav-center">
        <a class="nav-item" href="#">
          <span class="icon">
            <i class="fa fa-github"></i>
          </span>
        </a>
        <a class="nav-item" href="#">
          <span class="icon">
            <i class="fa fa-twitter"></i>
          </span>
        </a>
      </div>

      <span class="nav-toggle ">
        <span></span>
        <span></span>
        <span></span>
      </span>

      <div class="nav-right nav-menu">
        <a class="nav-item" href="#">
          Home
        </a>
        <a class="nav-item" href="#">
          Documentation
        </a>
        <a class="nav-item" href="#">
          Blog
        </a>

        <span class="nav-item">
          <a class="button" >
            <span class="icon">
              <i class="fa fa-twitter"></i>
            </span>
            <span>Tweet</span>
          </a>
          <a class="button is-primary" href="#">
            <span class="icon">
              <i class="fa fa-download"></i>
            </span>
            <span>Download</span>
          </a>
        </span>
      </div>
    </nav>
  </div>
  

  <div class="style-element ai-count">
    count<br/>
    <i class="has-text-centered">10</i>
  </div>

  <div class="style-element ai-quick-select">
    quick select<br/>
  </div>
  

  <div class="style-element ai-logo">
    logo<br/>
  </div>
  

  <div class="style-element ai-symbol">
    symbolic element<br/>
    <i class="fa fa-hand-spock-o fa-lg" aria-hidden="true"></i>
  </div>

  <hr>
  * text and form inputs *<br/>
  <div class="style-element">
    h1<br/>
    <h1 class="title is-1">This is title text</h1>
  </div>
  
  <div class="style-element">
    h2<br/>
    <h2 class="subtitle is-1">This is subtitle text</h2>
  </div>

  <div class="style-element">
    h3<br/>
    <h3 class="title is-3">This is section header text</h3>
  </div>
  

  <div class="style-element">
    p<br/>
    <p>This is paragraph text</p>
  </div>
  

  <div class="style-element">
    ul<br/>
    <ul>
      <li>This</li>
      <li>is</li>
      <li>an</li>
      <li>unordered</li>
      <li>list</li>
    </ul>
  </div>
  

  <div class="style-element">
    input label<br/>
    <label class="label">This is label text</label>
  </div>
  

  <div class="style-element">
    select<br/>
    <p class="control">
      <span class="select">
        <select>
          <option>Select dropdown</option>
          <option>With options</option>
        </select>
      </span>
    </p>
  </div>
  

  <hr>
  * basic page elements *<br/>
  <div class="style-element">
    box<br/>
    <div class="box">
      <article class="media">
        <div class="media-left">
          <figure class="image is-64x64">
            <img src="http://placehold.it/128x128" alt="Image">
          </figure>
        </div>
        <div class="media-content">
          <div class="content">
            <p>
              <strong>John Smith</strong> <small>@johnsmith</small> <small>31m</small>
              <br>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet massa fringilla egestas. Nullam condimentum luctus turpis.
            </p>
          </div>
          <nav class="level">
            <div class="level-left">
              <a class="level-item">
                <span class="icon is-small"><i class="fa fa-reply"></i></span>
              </a>
              <a class="level-item">
                <span class="icon is-small"><i class="fa fa-retweet"></i></span>
              </a>
              <a class="level-item">
                <span class="icon is-small"><i class="fa fa-heart"></i></span>
              </a>
            </div>
          </nav>
        </div>
      </article>
    </div>
  </div>
  

  <div class="style-element">
    image<br/>
    <img src="https://support.files.wordpress.com/2009/07/pigeony.jpg?w=688">
  </div>
  

  <div class="style-element">
    text input<br/>
    <p class="control">
      <input class="input" type="text" placeholder="Text input">
    </p>
  </div>
  

  <div class="style-element">
    text area input<br/>
    <p class="control">
      <textarea class="textarea" placeholder="Textarea"></textarea>
    </p>
  </div>
  

  <div class="style-element">
    button<br/>
    <a class="button">
      Button
    </a>
  </div>
  

  <div class="style-element">
    table<br/>
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Instrument</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <th>Name</th>
          <th>Instrument</th>
          <th></th>
          <th></th>
        </tr>
      </tfoot>
      <tbody>
        <tr>
          <td>Misty Abbott</td>
          <td>Bass Guitar</td>
          <td class="is-icon">
            <a href="#">
              <i class="fa fa-twitter"></i>
            </a>
          </td>
          <td class="is-icon">
            <a href="#">
              <i class="fa fa-instagram"></i>
            </a>
          </td>
        </tr>
        <tr>
          <td>John Smith</td>
          <td>Rhythm Guitar</td>
          <td class="is-icon">
            <a href="#">
              <i class="fa fa-twitter"></i>
            </a>
          </td>
          <td class="is-icon">
            <a href="#">
              <i class="fa fa-instagram"></i>
            </a>
          </td>
        </tr>
        <tr>
          <td>Robert Mikels</td>
          <td>Lead Guitar</td>
          <td class="is-icon">
            <a href="#">
              <i class="fa fa-twitter"></i>
            </a>
          </td>
          <td class="is-icon">
            <a href="#">
              <i class="fa fa-instagram"></i>
            </a>
          </td>
        </tr>
        <tr>
          <td>Karyn Holmberg</td>
          <td>Drums</td>
          <td class="is-icon">
            <a href="#">
              <i class="fa fa-twitter"></i>
            </a>
          </td>
          <td class="is-icon">
            <a href="#">
              <i class="fa fa-instagram"></i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  

  <div class="style-element">
    left menu<br/>
    <aside class="menu">
      <p class="menu-label">
        General
      </p>
      <ul class="menu-list">
        <li><a href="#">Dashboard</a></li>
        <li><a href="#">Customers</a></li>
      </ul>
      <p class="menu-label">
        Administration
      </p>
      <ul class="menu-list">
        <li><a href="#">Team Settings</a></li>
        <li>
          <a class="is-active" href="#">Manage Your Team</a>
          <ul>
            <li><a href="#">Members</a></li>
            <li><a href="#">Plugins</a></li>
            <li><a href="#">Add a member</a></li>
          </ul>
        </li>
        <li><a href="#">Invitations</a></li>
        <li><a href="#">Authentication</a></li>
      </ul>
      <p class="menu-label">
        Transactions
      </p>
      <ul class="menu-list">
        <li><a href="#">Payments</a></li>
        <li><a href="#">Transfers</a></li>
        <li><a href="#">Balance</a></li>
      </ul>
    </aside>

    <div>
    </div>
    modal<br/>
    <div class="modal">
      <div class="modal-background"></div>
      <div class="modal-container">
        <div class="modal-content">
          <!-- Any other Bulma elements you want -->
        </div>
      </div>
      <button class="modal-close"></button>
    </div>
  </div>
  
 </div>

