 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.1.0/css/bulma.min.css">

<div class="container">
  * text and form inputs *
  <!-- h1 -->
  <h1 class="title is-1">This is title text</h1>

  <!-- h2 -->
  <h2 class="subtitle is-1">This is subtitle text</h2>

  <!-- h3 -->
  <h3 class="title is-3">This is section header text</h3>

  <!-- p -->
  <p>This is paragraph text</p>

  <!-- ul -->
  <ul>
    <li>This</li>
    <li>is</li>
    <li>an</li>
    <li>unordered</li>
    <li>list</li>
  </ul>

  <!-- input label -->
  <label class="label">This is label text</label>

  <!-- select -->
  <p class="control">
    <span class="select">
      <select>
        <option>Select dropdown</option>
        <option>With options</option>
      </select>
    </span>
  </p>

  <hr>
  * basic page elements *
  <!-- box -->
  <div class="box">
    <article class="media">
      <div class="media-left">
        <figure class="image is-64x64">
          <img src="http://placehold.it/128x128" alt="Image">
        </figure>
      </div>
      <div class="media-content">
        <div class="content">
          <p>
            <strong>John Smith</strong> <small>@johnsmith</small> <small>31m</small>
            <br>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet massa fringilla egestas. Nullam condimentum luctus turpis.
          </p>
        </div>
        <nav class="level">
          <div class="level-left">
            <a class="level-item">
              <span class="icon is-small"><i class="fa fa-reply"></i></span>
            </a>
            <a class="level-item">
              <span class="icon is-small"><i class="fa fa-retweet"></i></span>
            </a>
            <a class="level-item">
              <span class="icon is-small"><i class="fa fa-heart"></i></span>
            </a>
          </div>
        </nav>
      </div>
    </article>
  </div>

  <!-- image -->
  <img src="https://support.files.wordpress.com/2009/07/pigeony.jpg?w=688">

  <!-- text input -->
  <p class="control">
    <input class="input" type="text" placeholder="Text input">
  </p>

  <!-- text area input -->
  <p class="control">
    <textarea class="textarea" placeholder="Textarea"></textarea>
  </p>

  <!-- button -->
  <a class="button">
    Button
  </a>

  <!-- table -->
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Instrument</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <th>Name</th>
        <th>Instrument</th>
        <th></th>
        <th></th>
      </tr>
    </tfoot>
    <tbody>
      <tr>
        <td>Misty Abbott</td>
        <td>Bass Guitar</td>
        <td class="is-icon">
          <a href="#">
            <i class="fa fa-twitter"></i>
          </a>
        </td>
        <td class="is-icon">
          <a href="#">
            <i class="fa fa-instagram"></i>
          </a>
        </td>
      </tr>
      <tr>
        <td>John Smith</td>
        <td>Rhythm Guitar</td>
        <td class="is-icon">
          <a href="#">
            <i class="fa fa-twitter"></i>
          </a>
        </td>
        <td class="is-icon">
          <a href="#">
            <i class="fa fa-instagram"></i>
          </a>
        </td>
      </tr>
      <tr>
        <td>Robert Mikels</td>
        <td>Lead Guitar</td>
        <td class="is-icon">
          <a href="#">
            <i class="fa fa-twitter"></i>
          </a>
        </td>
        <td class="is-icon">
          <a href="#">
            <i class="fa fa-instagram"></i>
          </a>
        </td>
      </tr>
      <tr>
        <td>Karyn Holmberg</td>
        <td>Drums</td>
        <td class="is-icon">
          <a href="#">
            <i class="fa fa-twitter"></i>
          </a>
        </td>
        <td class="is-icon">
          <a href="#">
            <i class="fa fa-instagram"></i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- left menu -->
  <aside class="menu">
    <p class="menu-label">
      General
    </p>
    <ul class="menu-list">
      <li><a href="#">Dashboard</a></li>
      <li><a href="#">Customers</a></li>
    </ul>
    <p class="menu-label">
      Administration
    </p>
    <ul class="menu-list">
      <li><a href="#">Team Settings</a></li>
      <li>
        <a class="is-active" href="#">Manage Your Team</a>
        <ul>
          <li><a href="#">Members</a></li>
          <li><a href="#">Plugins</a></li>
          <li><a href="#">Add a member</a></li>
        </ul>
      </li>
      <li><a href="#">Invitations</a></li>
      <li><a href="#">Authentication</a></li>
    </ul>
    <p class="menu-label">
      Transactions
    </p>
    <ul class="menu-list">
      <li><a href="#">Payments</a></li>
      <li><a href="#">Transfers</a></li>
      <li><a href="#">Balance</a></li>
    </ul>
  </aside>

  <!-- modal -->
  <div class="modal">
    <div class="modal-background"></div>
    <div class="modal-container">
      <div class="modal-content">
        <!-- Any other Bulma elements you want -->
      </div>
    </div>
    <button class="modal-close"></button>
  </div>

  <hr>
  * custom elements * 
  <!-- minutes template -->

  <!-- user -->

  <!-- quick select -->

  <!-- agenda item:  -->

  <!-- count -->

  <!-- navbar -->
  <nav class="nav">
    <div class="nav-left">
      <a class="nav-item" href="#">
        <img src="/images/bulma.png" alt="Bulma logo}">
      </a>
    </div>

    <div class="nav-center">
      <a class="nav-item" href="#">
        <span class="icon">
          <i class="fa fa-github"></i>
        </span>
      </a>
      <a class="nav-item" href="#">
        <span class="icon">
          <i class="fa fa-twitter"></i>
        </span>
      </a>
    </div>

    <span class="nav-toggle">
      <span></span>
      <span></span>
      <span></span>
    </span>

    <div class="nav-right nav-menu">
      <a class="nav-item" href="#">
        Home
      </a>
      <a class="nav-item" href="#">
        Documentation
      </a>
      <a class="nav-item" href="#">
        Blog
      </a>

      <span class="nav-item">
        <a class="button" >
          <span class="icon">
            <i class="fa fa-twitter"></i>
          </span>
          <span>Tweet</span>
        </a>
        <a class="button is-primary" href="#">
          <span class="icon">
            <i class="fa fa-download"></i>
          </span>
          <span>Download</span>
        </a>
      </span>
    </div>
  </nav>

  <!-- logo -->

  <!-- symbolic element -->

 </div>

