<div id="app">
  <meetings-header></meetings-header>
  <!-- <agenda-items>
  </agenda-items>
  <meetings-footer></meetings-footer> -->
</div>

<template id="meetings-header-template">
  <div class="container box" v-for="meetingDetail in meetingDetails">
    <h1 class="title is-1"><input type="text" name="meeting_title" placeholder="Meeting Title" v-model= "meeting.title"></h1>
    <p><strong>Minutes Status:</strong><input type="text" name="meeting_status" placeholder="Meeting Status" v-model= "meeting.status"></p>
    <hr>
    <p></p>
    <strong>Meeting Date:</strong><input type="text" name="meeting_date" placeholder="Meeting Date" v-model= "meeting.date">
    <br/>
    <strong>Meeting Location:</strong><input type="text" name="meeting_location" placeholder="Meeting Location" v-model="meeting.location"><br/>
    <strong>Discussion:</strong><input type="text" name="meeting.discussion" placeholder="Meeting Discussion" v-model="meeting.discussion"><br/>
    <br/>
    <strong>Meeting Chair ID:</strong><input type="text" name="meeting.chair" placeholder="Meeting Chair" v-model="meeting.chair"><br/>
    <strong>Meeting Organization ID:</strong><input type="text" name="organization" placeholder="Organization id" v-model="organization"><br/>
    <strong>Meeting Template:</strong><input type="text" name="meeting.template" placeholder="Meeting Template" v-model="meeting.template"><br/>
    <hr>
    <button type="submit" @click="addMeeting">Submit</button>
  </div>
</template>

<div class="new-meeting">
  <!-- <a href="#" class="new-meeting-item" v-for="meeting in meetings"> -->
    <p> {{meeting.title}} </p>
    <p> {{meeting.status}} </p>
    <p> {{meeting.date}} </p>
    <p> {{meeting.location}} </p>
    <p> {{meeting.discussion}} </p>
    <p> {{meeting.chair}} </p>
    <p> {{meeting.organization}} </p>
    <p> {{meeting.template}} </p>
  </a>
</div>

<script>

  Vue.component('meetings-header', {
    template: '#meetings-header-template',
    data: {
      meeting: {
        title: "",
        status: "",
        date: "",
        location: "",
        discussion: "",
        chair: "",
        organization: "",
        template: "",
      },
      meetings: []
    },

    ready: function(){
      this.fetchMeetings();
    },

    methods: {
      fetchMeetings: function(){
        var meetings= [{}];
        this.$set("meetings", meetings);
    },
    addMeeting: function(){
      if(this.meeting.name) {
        this.meetings.push(this.meeting);
        this.meeting =  {
          title: "",
          status: "",
          date: "",
          location: "",
          discussion: "",
          chair: "",
          organization: "",
          template: "",
        }
      }
    }
    }

  });

  new Vue({
      el: '#app'
    });
</script>
