<div id="app">
  <h1>Test</h1>
  <div v-for="plan in plans">
    <plan :plan="plan" :active.sync="active"></plan>
  </div>
</div>

<template id="plan-template">
  <div>
    <span>{{ plan.type }}</span>

    <span v-if="agendItem.type === 'business'"><i class="fa fa-icon-business fa-2x"></i></span>
    <span v-if="agendItem.type === 'election'"><i class="fa fa-icon-election fa-2x"></i></span>
  </div>
</template>


  <script>


  new Vue({
    el: "#app",

    data: {
      plans: [
        {type: "Business", icon: "fa fa-briefcase"},
        {type: "Document", icon: "fa fa-file-document"},
        {type: "Election", icon: "fa fa-checkbox-multiple-marked-outline"},
        {type: "Meeting_Details", icon: "fa fa-library-books"},
        {type: "Motion", icon: "fa fa-gavel"},
      ],
      active: {}

    },

    components: {
      plan: {
        template: "#plan-template",

        props: ["plan", "active"],

        computed: {
          isUpgrade: function(){
            return this.plan.price > this.active.price;
          }
        },

        methods: {
          setActivePlan: function(){
            this.active = this.plan;
          }
        }
      }
    }


  });

  </script>
